<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小農個人首頁</title>
    <link rel="icon" href="./images/logo.png">
    
    <th:block th:replace="~{/front_end/index :: mainCss}"></th:block>

	<link rel="stylesheet" th:href="@{/css/sty/farmerStore1ColorNature.css}">
	<link rel="stylesheet" th:href="@{/css/sty/farmerStore1ColorWarm.css}">
	
    
</head>
<body th:data-active-tab="${activeTab != null ? activeTab : 'login'}" th:data-success="${success}">

	<div th:replace="~{/front_end/index :: header}"></div>

<!-- --------------------------------------------------------------------- -->
    
    <div th:replace="~{/front_end/customer/unlogined/farmerStoreProd :: fbanner}"></div>

    <div class="container container-main">
    
    
        <div th:replace="~{/front_end/customer/unlogined/farmerStoreProd :: sidebar}"></div>
            

        <div class="store-content">
<!--             <h3>商品</h3> -->
            <ul class="activities">
<!--                 <li class="activity" th:fragment="activity"> -->
                <li class="activity" th:each="act : ${actList}">
                    <div class="pic">
                    	<a href="#">
                    		<div class="mask"></div>
                    		<div class="tag">熱門</div>
<!--                     		<img th:src="'data:image/jpeg;base64, ' + ${act.actMainImgBase64}" alt=""> -->
                    	</a>
                   	</div>
	                <div class="text">
                    	<a href="#">
<!--                     		<div class="mask"></div> -->
	                        <div th:text="${act.actName}" class="name"></div>
	                        <div th:text="${act.actDes}" class="intro"></div>
	                        <div class="price">
	                            <span class="prefix">$</span>
	                            <span th:text="${act.actFee}" class="number"></span>
	                        </div>
	                	</a>
                        <div class="date">
<!--                         	<span>活動期間：</span> -->
                        	<span th:text="${act.actStart}"></span>
                        	<span>~</span>
                        	<span th:text="${act.actEnd}"></span>
<!--                         	<span>10/10、10/25、12/25</span> -->
                        </div>
						<button class="addToCart">立馬報名去</button>	                    
	                </div>
                </li>
                
            </ul>
        </div>
        
    </div>

    
<!-- --------------------------------------------------------------------- -->
    
   
	<div th:replace="~{/front_end/index :: footer}"></div>

<!-- 	<script th:src="@{/js/mem/addToCartAlert.js}"></script> -->
    
</body>
</html>