<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小農個人首頁</title>
    <link rel="icon" href="./images/logo.png">
    
    <th:block th:replace="~{/front_end/index :: mainCss}"></th:block>
<!--     <th:block th:replace="~{/front_end/farmer/logined/home :: homeCss}"></th:block> -->

<!-- 	<link rel="stylesheet" th:href="@{/css/sty/farmerStore1ColorNature.css}"> -->
<!-- 	<link rel="stylesheet" th:href="@{/css/sty/farmerStore1ColorWarm.css}"> -->
	<link rel="stylesheet" th:if="${fmem.sty}" th:href="@{${fmem.sty.styCssPath}}">
	
</head>
<body th:data-active-tab="${activeTab != null ? activeTab : 'login'}" th:data-success="${success}">

	<div th:replace="~{/front_end/index :: header}"></div>

<!-- --------------------------------------------------------------------- -->
    
    <div class="container container-fbanner" th:fragment="fbanner">
        <div class="fbanner">
        	<div class="mask"></div>
            <img th:src="'data:image/jpeg;base64,' + ${StorePicBase64}" alt="farmer-banner">

            <div class="text">
                <h2 class="store-name" th:text="${fmem.storeName}"></h2>
                <p class="store-intro" th:text="${fmem.storeIntro}"></p>
	            <div class="info">
	                <span th:if="${fmem.fmemEmail}">信箱: <span th:text="${fmem.fmemEmail}"></span></span>
<!-- 	                <span>電話: 03-4259888</span> -->
	                <span th:if="${fmem.fmemAddr}">地址: <span th:text="${fmem.fmemAddr}"></span></span>
	            </div>
            </div>
            
            <div class="avatar">
        		<img th:src="'data:image/jpeg;base64,' + ${fmemPicBase64}" alt="avatar">
        	</div>
        </div>
    </div>

    <div class="container container-main">
        <div class="store-sidebar" th:fragment="sidebar">
            <h3>分類</h3>
            <ul th:fragment="memAreaLink">
                <li><a th:href="@{'/mem/farmerStoreProd'(fmemId=${fmemId})}">所有商品</a></li>
                <li><a th:href="@{'/mem/farmerStoreAct'(fmemId=${fmemId})}">所有活動</a></li>
            </ul>
        </div>

        <div class="store-content">
<!--             <h3>商品</h3> -->
            <ul class="products">
<!--                 <li class="product" th:fragment="product"> -->
                <li class="product" th:each="pro : ${proList}">
                   	<div class="pic">
	                    <a href="#">
	                   		<div class="mask"></div>
	                   		<div class="tag">熱銷</div>
<!-- 	                   		<img th:src="'data:image/jpeg;base64, ' + ${pro.proImage?.proImgBase64}" alt="商品圖片"> -->
	                    </a>
                   	</div>
                    <div class="text">
	                    <a href="#">
	                        <div th:text="${pro.proName}" class="name"></div>
	                        <div class="price">
	                            <span class="prefix">$</span>
	                            <span th:text="${pro.proPrice}" class="number"></span>
	                        </div>
<!-- 	                        <div class="score"> -->
<!-- 	                            <span class="prefix">⭐</span> -->
<!-- 	                            <span th:text="${pro.proScore}" class="number"></span> -->
<!-- 	                        </div> -->
	                    </a>
                    </div>
                    
                    <form th:action="@{/cart/add}" method="post" class="addToCartForm" th:data-success="${successAddToCart}">
		                <input type="hidden" name="proId" th:value="${pro.proId}" class="proId">
		                <input type="hidden" id="quantity" name="quantity" value="1">
		                <button type="submit" class="addToCart">加入購物車</button>
		                <div class="added hidden">已加入購物車</div>
		            </form>
                </li>

                
            </ul>
        </div>
        
    </div>

    
<!-- --------------------------------------------------------------------- -->
    
   
	<div th:replace="~{/front_end/index :: footer}"></div>

	<script th:src="@{/js/mem/addToCartAlert.js}"></script>
    
</body>
</html>