<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小農個人首頁</title>
    <link rel="icon" href="./images/logo.png">
    
    <th:block th:replace="~{/front_end/index :: mainCss}"></th:block>
	<link rel="stylesheet" th:if="${fmem.sty}" th:href="@{${fmem.sty.styCssPath}}">
	
	<style>
		.store-content a.addToCart{
			height: 40px;
			color: #fff;
		}
	</style>
    
</head>
<body th:data-active-tab="${activeTab != null ? activeTab : 'login'}" th:data-success="${success}">

	<div th:replace="~{/front_end/index :: header}"></div>

<!-- --------------------------------------------------------------------- -->
    
    <div th:replace="~{/front_end/customer/unlogined/farmerStoreProd :: fbanner}"></div>

    <div class="container container-main">
    
        <div th:replace="~{/front_end/customer/unlogined/farmerStoreProd :: sidebar}"></div>

        <div class="store-content">
<!--             <h3>商品</h3> -->
            <ul class="activities">
            	<p th:if="${actList == null or #lists.isEmpty(actList)}" th:text="目前尚無上架活動" class="no-item-msg"></p>
                <li class="activity" th:each="act : ${actList}">
                    <div class="pic">
                    	<a th:href="@{/act/detail/{actId}(actId=${act.actId})}">
                    		<div class="mask"></div>
                    		<div class="tag">熱門</div>
                    		<img th:if="${act.actMainImgBase64 != null}" th:src="'data:image/jpeg;base64, ' + ${act.actMainImgBase64}" alt="活動圖片">
                    	</a>
                   	</div>
	                <div class="text">
                    	<a th:href="@{/act/detail/{actId}(actId=${act.actId})}">
<!--                     		<div class="mask"></div> -->
	                        <div th:text="${act.actName}" class="name"></div>
<!-- 	                        <div th:text="${act.actDes}" class="intro"></div> -->
	                        <div class="price">
	                            <span class="prefix">$</span>
	                            <span th:text="${act.actFee}" class="number"></span>
	                        </div>
	                	</a>
                        <div class="date">
                        	<span th:text="${act.actStart}"></span>
                        	<span>~</span>
                        	<span th:text="${act.actEnd}"></span>
                        </div>
						<a th:href="@{/act/detail/{actId}(actId=${act.actId})}" class="addToCart btn">立馬報名去</a>	                    
	                </div>
                </li>
                
            </ul>
        </div>
        
    </div>
    
<!-- --------------------------------------------------------------------- -->
   
	<div th:replace="~{/front_end/index :: footer}"></div>

    
</body>
</html>