<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一般會員註冊</title>
    <link rel="icon" href="./images/logo.png">
    
    <th:block th:replace="~{/front_end/index :: mainCss}"></th:block>
    <link rel="stylesheet" th:href="@{/css/mem/regLogin.css}">
    <link rel="stylesheet" th:href="@{/css/mem/forgetResetPassword.css}">
   
</head>
<body th:data-success="${success}">

	<div th:replace="~{/front_end/index :: header}"></div>

	<div class="container container-reset-pwd">
        <h2>一般會員</h2>
        <div class="password-title">    
            <span>重設密碼</span>
        </div>
        
        <div class="resetPassword">
            <form method="post" th:action="@{/mem/resetPassword}" th:object="${updatePasswordMem}" class="userInfo">
                <ul>
                    <li>
                        <label for="">重設密碼</label>
                        <input type="password" th:field="*{memPwd}">                        
						<span th:if="${#fields.hasErrors('memPwd')}" th:errors="*{memPwd}" class="error"></span>
                    </li>
                    <li>
                        <label for="">再次輸入密碼</label>
                        <input type="password" th:field="*{memPwdCheck}">
						<span th:if="${#fields.hasErrors('memPwdCheck')}" th:each="error : ${#fields.errors('memPwdCheck')}" th:text="${error}" class="error"></span>
                    </li>

					<input type="submit" value="送出" class="btn link">
                </ul>
            </form>
        </div>
    </div>
    
	<div th:replace="~{/front_end/index :: footer}"></div>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/js/mem/successUpdatePasswordAlert.js}"></script>
    
</body>
</html>