<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一般會員註冊</title>
    <link rel="icon" href="./images/logo.png">
    
    <th:block th:replace="~{/front_end/index :: mainCss}"></th:block>
    <link rel="stylesheet" th:href="@{/css/mem/regLogin.css}">
    
    <!-- flatpickr CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <style>
        
    </style>
</head>
<body th:data-active-tab="${activeTab != null ? activeTab : 'login'}" th:data-success="${success}">

	<div th:replace="~{/front_end/index :: header}"></div>

    <div class="container container-reg-login">
        <h2 class="reg-login-title">一般會員</h2>

        <div class="reg-login-btns">    
            <span class="btn-login active-btn" id="btn-login">登 入</span><span class="btn-reg" id="btn-reg">註 冊</span>
        </div>
        
        <div class="login" id="login">
            <form method="post" th:action="@{/mem/login}" th:object="${loginRequest}" class="userInfo">
                <ul>
                    <li>
                        <label for="">帳號</label>
                        <input type="text" th:field="*{memAccLogin}" class="accLogin" placeholder="mem測試帳號:test">                        
                    </li>
                    <li>
                        <label for="">密碼</label>
                        <input type="password" th:field="*{memPwdLogin}" class="pwdLogin" placeholder="mem測試密碼:1234">
                    </li>
					<div th:if="${loginError}">
						<span th:text="${loginError}" class="error error-login"></span>
					</div>
					<a class="forget-pwd-btn" th:href="@{/mem/forgetPasswordPage}">忘記密碼？</a>

					<input type="submit" value="登入" class="btn link">
                </ul>
            </form>
        </div>
        
        <div class="register" id="register">
            <form method="post" th:action="@{/mem/register}" th:object="${mem}" class="userInfo">
                <ul>
                    <li>
                        <label for="">帳號</label>
                        <input type="text" th:field="*{memAcc}" class="acc" placeholder="英文或數字或_ , 長度8~20">                        
                        <span th:if="${#fields.hasErrors('memAcc')}" th:errors="*{memAcc}" class="error"></span>
                        
						<span th:if="${regError}" th:text="${regError}" class="error-reg"></span>
						
                    </li>
                    <li>
                        <label for="">密碼</label>
                        <input type="password" th:field="*{memPwd}" class="pwd" placeholder="英文或數字或@ , 長度8~20">
                        <span th:if="${#fields.hasErrors('memPwd')}" th:errors="*{memPwd}" class="error"></span>
                    </li>
                    <li>
                        <label for="">再次輸入密碼</label>
                        <input type="password" th:field="*{memPwdCheck}" placeholder="英文或數字或@ , 長度8~20">
                        <span th:if="${#fields.hasErrors('memPwdCheck')}" th:each="error : ${#fields.errors('memPwdCheck')}" th:text="${error}" class="error"></span>
                    </li>
                    <li>
                        <label for="">姓名</label>
                        <input type="text" th:field="*{memName}">
                        <span th:if="${#fields.hasErrors('memName')}" th:errors="*{memName}" class="error"></span>
                    </li>
                    <li>
                        <label for="">生日</label>
                        <input type="date" th:field="*{memBirthday}">
                        <span th:if="${#fields.hasErrors('memBirthday')}" th:errors="*{memBirthday}" class="error"></span>
                    </li>
                    <li>
                        <label for="">手機</label>
                        <input type="tel" th:field="*{memMobile}" placeholder="格式: 09XX-XXXXXX">
                        <span th:if="${#fields.hasErrors('memMobile')}" th:errors="*{memMobile}" class="error"></span>
                    </li>
                    <li>
                        <label for="">信箱</label>
                        <input type="email" th:field="*{memEmail}" class="email" list="email-suggestions">
                        <datalist id="email-suggestions"></datalist>
                        <span th:if="${#fields.hasErrors('memEmail')}" th:errors="*{memEmail}" class="error"></span>
                    </li>
                    <li class="list-addr">
                        <label>居住地址</label>
                        <input type="text" th:field="*{memZipcode}" class="zipcode" placeholder="郵遞區號" maxlength="3">

                        <select th:field="*{memCity}" class="city">
                            <option value="" class="city-option" id="city-option"></option>
                        </select>

                        <select th:field="*{memDist}" class="dist">
                            <option value="" class="dist-option" id="dist-option"></option>
                        </select>
                        
                        <input type="text" th:field="*{memAddr}" class="addr" placeholder="街道名稱 / 號碼 / 樓層" >
                        
                        <span th:if="${#fields.hasErrors('memZipcode')}" th:errors="*{memZipcode}" class="error-zipcode"></span>
                        <span th:if="${#fields.hasErrors('memCity')}" th:errors="*{memCity}" class="error-city"></span>
                        <span th:if="${#fields.hasErrors('memDist')}" th:errors="*{memDist}" class="error-dist"></span>
                        <span th:if="${#fields.hasErrors('memAddr')}" th:errors="*{memAddr}" class="error-addr"></span>

                    </li>
                    
                    <input type="submit" value="送出" class="btn link" id="btn-submitReg">
                </ul>
            </form>
        </div>
    </div>
    
   
	<div th:replace="~{/front_end/index :: footer}"></div>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/js/mem/regLogin.js}"></script>
    <script th:src="@{/js/mem/successRegAlert.js}"></script>
    <script th:src="@{/js/mem/successUpdatePasswordAlert.js}"></script>
    
	<!-- 中文語系 -->
	<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/zh.js"></script>
	<!-- flatpickr JS -->
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script th:src="@{/js/mem/dateSelector.js}"></script>
	
	<!-- 消費者按下活動報名未登入時跳回登入頁面 -->
	<script>
	  if (window.top !== window.self) {
	    window.top.location = window.location.href; 
	  }
	</script>
    
</body>
</html>