<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>折價券管理 | 後台</title>
   <script src="https://cdn.tailwindcss.com"></script>
     <link rel="stylesheet" th:href="@{/css/memcpn/couponManage.css}">
  <style>
     
  </style>
</head>
<body class="flex items-center justify-center justify-start min-h-screen p-4">
   <div class="dashboard-card w-full max-w-5xl">
  <h1 class="section-title">折價券管理</h1>

  <div class="header-grid" th:fragment="header">
                <a th:href="@{/admin/coupon/act}" class="btn btn-enabled">活動折價券管理</a>
                <a th:href="@{/admin/coupon/pro}" class="btn btn-enabled">商品折價券管理</a>
                <a th:href="@{/admin/coupon/memact}" class="btn btn-enabled">活動折價券明細</a>
                <a th:href="@{/admin/coupon/mempro}" class="btn btn-enabled">商品折價券明細</a>
                <a th:href="@{{/admin/coupon/log}" class="btn btn-enabled">折價券操作日誌</a>
            </div>
            <div class="mt-12 text-center">
             <a th:href="@{/managepage}" class="w-full sm:w-auto px-10 py-3 bg-gray-600 text-white rounded-md font-semibold hover:bg-gray-700 transition">
             返回管理選單</a>
        </div>
                 <div class="mt-12 text-center">
            <form th:action="@{/auth/logout}" method="post">
                <button type="submit" class="w-full sm:w-auto px-10 py-3 bg-gray-600 text-white rounded-md font-semibold hover:bg-gray-700 transition">
                登出</button>
            </form>
        </div>
        </div>
</body>
</html>
