<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>小農活動專區 - 活動上下架</title>
<link rel="icon" th:href="@{/images/logo.png}">

<!-- ============================================ -->
<!--     引入main.css, iconfonts -->
    <th:block th:replace="~{/front_end/index :: mainCss}"></th:block>
	<th:block th:replace="~{/front_end/farmer/logined/home :: homeCss}"></th:block>
<!-- ============================================== -->

<style>
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: center; }
        th { background-color: #f4f4f4; }
        img { max-width: 100px; max-height: 80px; }
        .btn { padding: 4px 8px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 4px; }
</style>
</head>
<body>

<!-- =============================== -->
<div th:replace="~{/front_end/farmer/logined/home :: header}"></div>
<!-- ==================================== -->


<div class = "container">
    <h1>活動上下架</h1>

	

	<div th:if="${#lists.isEmpty(actList)}">
    	<p>目前無已過審之活動可進行上下架</p>
	</div>

	<div th:unless="${#lists.isEmpty(actList)}">
		<table border="1">
		<thead>
			<tr>
				<th>活動ID</th>
				<th>活動主照片</th>
				<th>活動名稱</th>
				<th>開始日期</th>
				<th>結束日期</th>
				<th>費用</th>
				<th>活動狀態</th>
				<th>活動審核備註</th>
				<th>活動上下架狀態</th>
				<th>操作</th>
            </tr>
		</thead>
		<tbody>
			<tr th:each="act : ${actList}">
				<td th:text="${act.actId}"></td>
				<td>
					<img th:if="${act.actMainImg != null}" th:src="@{'/fmem/act/mainImg/' + ${act.actId}}" alt="主照片"/>
				</td>
				<td th:text="${act.actName}"></td>
				<td th:text="${#dates.format(act.actStart, 'yyyy/MM/dd')}"></td>
				<td th:text="${#dates.format(act.actEnd, 'yyyy/MM/dd')}"></td>
				<td th:text="${act.actFee}"></td>
				<td th:text="${act.actStatText}"></td>
				<td th:text="${#strings.isEmpty(act.actRemark) ? '無' : act.actRemark}"></td>
				<td th:text="${act.actLaunStatText}"></td>
				<td>
					<a class="btn" th:href="@{/fmem/act/detail/{id}(id=${act.actId})}">查看活動詳細資訊</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>


<!-- ==================================== -->
<div th:replace="~{/front_end/index :: footer}"></div>
<!-- ==================================== -->
</body>
</html>