<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>小農活動專區 - 編輯活動</title>

<!-- 原本引用的 CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/main.css}">

<!-- ToDo 新增活動用的 CSS -->
<link rel="stylesheet" th:href="@{/css/act/addAct.css}">
</head>

<body>
	<h1 class="act-title">建立活動</h1>

	<div class="act-info">
		<div class="act-add-details">

			<label for="actName">活動名稱<span style="color: red;">*</span></label><br>
			<input type="text" id="actName" name="actName" required>
			
			<label for="actCate">活動類別<span style="color: red;">*</span></label><br>
				<input type="checkbox" id="cate1" name="actCate" value="體驗">
				<label for="cate1">農事體驗</label>
				
				<input type="checkbox" id="cate2" name="actCate" value="親子">
				<label for="cate2">食農教育</label>
				
				<input type="checkbox" id="cate3" name="actCate" value="農業">
				<label for="cate3">親子同樂</label>
				
				<input type="checkbox" id="cate4" name="actCate" value="農業">
				<label for="cate3">動物互動</label>
				
				<input type="checkbox" id="cate5" name="actCate" value="農業">
				<label for="cate3">手作工藝</label>
				
				<input type="checkbox" id="cate6" name="actCate" value="農業">
				<label for="cate3">戶外體驗</label>
				
				<input type="checkbox" id="cate7" name="actCate" value="農業">
				<label for="cate3">導覽活動</label>
				
				<input type="checkbox" id="cate8" name="actCate" value="農業">
				<label for="cate3">季節限定</label>
				
				<input type="checkbox" id="cateOther" name="actCate" value="其他">
				<label for="cateOther">其他</label>
				<input type="text" id="otherText" name="otherText" placeholder="請填寫其他類別" style="display:none;">

			<br>
			
				<strong>活動基本價格</strong> <span style="color: red;">*</span>
			</p>
			<br>
			<p>
				<strong>活動開始日期</strong> <span style="color: red;">*</span>
			</p>
			<br>
			<p>
				<strong>活動結束日期</strong> <span style="color: red;">*</span>
			</p>
			<br>
			<p>
				<strong>活動介紹</strong> <span style="color: red;">*</span>
			</p>
			<br>
			<p>
				<strong>活動主要圖片</strong> <span style="color: red;">*</span>
			</p>
			<br>
			<p>
				<strong>活動圖片</strong> <span style="color: grey;">(選填)</span>
			</p>
			<br>
		</div>
	</div>


	<div class="button"></div>




	<!-- 分離 ToDoJS -->
	<script th:src="@{/js/act/addAct.js}"></script>
</body>
</html>