
.container-header,
.container-footer{
	background-color: #e0ead5;	
}
.nav > li > a{
	background-color: #459463;
}

.container-header .member .btn-logout{
	cursor: pointer;
}
.container-header .member .btn-logout i,
.container-header .member .bell i{
	background-color: #57a24d;
}
/* .container-header .member .btn-logout:hover i, */
/* .container-header .member .bell:hover i{ */
/* 	background-color: #37922d; */
/* } */