<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>小農-修改商店資料</title>
	<link rel="icon" th:href="@{/images/logo.png}">

	<th:block th:replace="~{/front_end/index :: mainCss}"></th:block>
    <th:block th:replace="~{/front_end/farmer/logined/home :: homeCss}"></th:block>

	<link rel="stylesheet" th:href="@{/css/mem/regLogin.css}">
    <link rel="stylesheet" th:href="@{/css/mem/memArea.css}">
    <link rel="stylesheet" th:href="@{/css/fmem/fmemUpdateStore.css}">
    


</head>
<body th:data-success="${success}" th:data-status="${accStatus}">

	<div th:replace="~{/front_end/farmer/logined/home :: header}"></div>

	<div class="container container-member">
	    <div class="member-sidebar">
	        <h3>會員專區</h3>
	<!--         = home.html的會員中心架構 -->
	        <ul th:replace="~{/front_end/farmer/logined/home :: fmemAreaLink}"></ul>
	    </div>
	
	    <div class="member-content center">
	        <form method="post" 
	        	  th:action="@{/fmem/fmemArea/updateStore}" 
	        	  th:object="${updateStoreFmem}" 
	        	  class="userInfo" 
	        	  enctype="multipart/form-data">
	            <h3>修改小農商店資料</h3>
	            <ul>
	                <p class="warning-msg" th:if="${loggedInFmember.accStatus}" th:text="${loggedInFmember.accStatus == 1 ? '請填寫 * 欄位以完成開店流程' : '✨商店已可開始上架及販售商品'}"></p>
<!-- 	                <p class="warning-msg" th:if="*{accStatus == 2}" th:text="已啟用"></p> -->
	                
	                <li>
	                    <label for="">小農商店名稱<span class="star-tag" th:if="${loggedInFmember.accStatus==1}" th:text="'*'"></span></label>
	                    <input type="text" th:field="*{storeName}">
	                </li>
	                <li>
	                    <label for="">小農商店介紹<span class="star-tag" th:if="${loggedInFmember.accStatus==1}" th:text="'*'"></span></label>
	                    <textarea type="text" th:field="*{storeIntro}" maxlength="100"></textarea>
	                </li>
	                <li class="list-sty">
	                    <label for="">小農商店樣式選擇 & 預覽圖</label>
	                    <select th:field="*{styNo}" class="stySelect">
	                    	<option value="1">清新色調</option>
					        <option value="2">大地色調</option>
					        <option value="3">寧靜色調</option>
	                    </select>
	                    
                   		<div class="picBox sty">
                   			<img th:if="${tempStyPicBase64 != null}" 
                   				 th:src="@{'data:image/jpeg;base64,' + ${tempStyPicBase64}}"
                   				 alt="樣式預覽圖"
                   				 class="img-nail">
                   			
					    </div>
					    <div id="img-display">
					    	<img src="" >
					    </div>
	                </li>
	                
	                
	                <li class="list-pic first-pic">
               			<label>小農頭像<span class="star-tag" th:if="${loggedInFmember.accStatus==1}" th:text="'*'"></span>(點選下框以新增或更換圖片)</label>
                   		<div class="picBox">
                   			<img th:if="${tempFmemPicBase64 != null}" 
                   				 th:src="@{'data:image/jpeg;base64,' + ${tempFmemPicBase64}}"
                   				 alt="小農頭像">
					        <div class="addPic"><i class="fa-solid fa-arrow-up-from-bracket"></i></div>
                   			<input type="file"  th:field="*{fmemPic}" class="fmemPic pic" accept="image/*">
					    </div>
					    <div class="picInfo"></div>
					    <span th:if="${#fields.hasErrors('fmemPic')}" th:errors="*{fmemPic}" class="error"></span>
          
	               </li>
	                
	                
	                <li class="list-pic">
               			<label>小農商店主圖<span class="star-tag" th:if="${loggedInFmember.accStatus==1}" th:text="'*'"></span>(點選下框以新增或更換圖片)</label>
                   		<div class="picBox">
                   			<img th:if="${tempStorePicBase64 != null}" 
                   				 th:src="@{'data:image/jpeg;base64,' + ${tempStorePicBase64}}"
                   				 alt="小農頭像">
					        <div class="addPic"><i class="fa-solid fa-arrow-up-from-bracket"></i></div>
                   			<input type="file" th:field="*{storePic}" class="storePic pic" accept="image/*">
					    </div>
					    <div class="picInfo"></div>
					    <span th:if="${#fields.hasErrors('storePic')}" th:errors="*{storePic}" class="error"></span>
	                </li>
	                
	                
	                
	                <li class="list-score">
	                    <label>商品總評價：</label>
	                    <span th:text = "${avgMktScore != null ? avgMktScore : '尚無評分'}"></span>
	                	
	                	<span>(共</span>
	                    <span th:text = "${loggedInFmember.mktCnt > 0 ? loggedInFmember.mktCnt : '0'}"></span>
						<span>則)</span>
	                </li>
	                
	             
	                <li class="list-score">
	                    <label>活動總評價：</label>
	                    <span th:text = "${avgActScore != null ? avgActScore : '尚無評分'}"></span>
	                    
	                    <span>(共</span>
	                    <span th:text = "${loggedInFmember.actCnt > 0 ? loggedInFmember.actCnt : '0'}"></span>
	                    <span>則)</span>
	                </li>
	
	                <li class="list-score">
	                    <label>商品(含活動)被檢舉次數：</label>
	                    <span th:text = "${loggedInFmember.rptCnt != null ? loggedInFmember.rptCnt : '尚無被檢舉紀錄，是優質小農！'}"></span>
	                </li>
	                
	            	<input type="submit" value="儲存" class="btn link" id="btn-submitReg">
	            </ul>
	        </form>
	    </div>
	</div>
	<div th:replace="~{/front_end/index :: footer}"></div>


	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/js/fmem/uploadPic.js}"></script>
	<script th:src="@{/js/mem/successUpdateProfileAlert.js}"></script>
	<script th:src="@{/js/fmem/styPicPreview.js}"></script>
	
</body>
</html>