<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>小農-修改個人資料</title>
	<link rel="icon" th:href="@{/images/logo.png}">

	<th:block th:replace="~{/front_end/index :: mainCss}"></th:block>

	<link rel="stylesheet" th:href="@{/css/mem/regLogin.css}">
    <link rel="stylesheet" th:href="@{/css/mem/memArea.css}">
<!--     <link rel="stylesheet" th:href="@{/css/fmem/fmemUpdateProfile.css}"> -->

<style>
	
	.container-header,
	.container-footer{
		background-color: #dce2ef;	
	}
	.nav > li > a{
		background-color: #4F9D9D;
	}
	
	.container-content{
		font-size:80px;
	}


</style>


</head>
<body th:data-success="${success}">

	<div th:replace="~{/front_end/farmer/logined/home :: header}"></div>

	<div class="container container-member">
	    <div class="member-sidebar">
	        <h3>會員專區</h3>
	<!--         = home.html的會員中心架構 -->
	        <ul th:replace="~{/front_end/farmer/logined/home :: fmemAreaLink}"></ul>
	    </div>
	
	    <div class="member-content center">
	        <form method="post" 
	        	  th:action="@{/fmem/fmemArea/updateProfile}" 
	        	  th:object="${updateProfileFmem}" 
	        	  class="userInfo" 
	        	  enctype="multipart/form-data">
	            <h3>修改會員資料</h3>
	            <ul>
	                <li>
	                    <label for="">帳號</label>
	                    <input type="text" th:value="${loggedInFmember.fmemAcc}" class="acc" disabled>                        
	                </li>
	                <li>
	                    <label for="">姓名</label>
	                    <input type="text" th:field="*{fmemName}">
	                    <span th:if="${#fields.hasErrors('fmemName')}" th:errors="*{fmemName}" class="error"></span>
	                </li>
	                <li>
	                    <label for="">身分證字號</label>
	                    <input type="text" th:value="${loggedInFmember.fId}" disabled>
	                </li>
	                <li>
	                    <label for="">手機</label>
	                    <input type="tel" th:field="*{fmemMobile}" placeholder="格式: 09XX-XXXXXX">
	                    <span th:if="${#fields.hasErrors('fmemMobile')}" th:errors="*{fmemMobile}" class="error"></span>
	                </li>
	                <li>
	                    <label for="">市話</label>
	                    <input type="tel" th:field="*{fmemTel}" placeholder="">
	                    <span th:if="${#fields.hasErrors('fmemTel')}" th:errors="*{fmemTel}" class="error"></span>
	                </li>
	                <li>
	                    <label for="">信箱</label>
	                    <input type="email" th:field="*{fmemEmail}" class="email" list="email-suggestions">
	                    <datalist id="email-suggestions"></datalist>
	                    <span th:if="${#fields.hasErrors('fmemEmail')}" th:errors="*{fmemEmail}" class="error"></span>
	                </li>
	                <li class="list-addr">
	                    <label>居住地址</label>
	                    <input type="text" th:field="*{fmemZipcode}" class="zipcode" placeholder="郵遞區號" maxlength="3">
	
	                    <select th:field="*{fmemCity}" class="city">
	                        <option value="" class="city-option" id="city-option"></option>
	                    </select>
	
	                    <select th:field="*{fmemDist}" class="dist">
	                        <option value="" class="dist-option" id="dist-option"></option>
	                    </select>
	                    
	                    <input type="text" th:field="*{fmemAddr}" class="addr" placeholder="街道名稱 / 號碼 / 樓層" >
	                    
	                    <span th:if="${#fields.hasErrors('fmemZipcode')}" th:errors="*{fmemZipcode}" class="error-zipcode"></span>
	                    <span th:if="${#fields.hasErrors('fmemCity')}" th:errors="*{fmemCity}" class="error-city"></span>
	                    <span th:if="${#fields.hasErrors('fmemDist')}" th:errors="*{fmemDist}" class="error-dist"></span>
	                    <span th:if="${#fields.hasErrors('fmemAddr')}" th:errors="*{fmemAddr}" class="error-addr"></span>
	                </li>
	                
	                <li class="list-bank">
	                    <label>收款帳戶</label>
	                    <select th:field="*{bankCode}" class="bankCode" th:data-saved="${updateProfileFmem.bankCode}">
	                        <option value=""></option>
	                    </select>
	                             
	                    <input type="text" th:field="*{bankAcc}" class="bankAcc" placeholder="銀行帳號" minlength="7" maxlength="14">
	                   
	                    <span th:if="${#fields.hasErrors('bankCode')}" th:errors="*{bankCode}" class="error-bankCode"></span>
	                    <span th:if="${#fields.hasErrors('bankAcc')}" th:errors="*{bankAcc}" class="error-bankAcc"></span>
	               </li>
	               <li>
               			<label>認證狀態</label>
                   		<input type="text" th:value="${loggedInFmember.certiStatus}" class="certiStatus" disabled>
	               </li>
	               <li class="list-pic first-pic">
               			<label>小農頭像(點選下框以新增或更換圖片)</label>
                   		<div class="picBox">
                   			<img th:if="${tempFmemPicBase64 != null}" 
                   				 th:src="@{'data:image/jpeg;base64,' + ${tempFmemPicBase64}}"
                   				 alt="小農頭像">
					        <div class="addPic"><i class="fa-solid fa-arrow-up-from-bracket"></i></div>
                   			<input type="file"  th:field="*{fmemPic}" class="fmemPic pic" accept="image/*">
					    </div>
					    <div class="picInfo"></div>
					    <span th:if="${#fields.hasErrors('fmemPic')}" th:errors="*{fmemPic}" class="error"></span>
	               </li>
          
	               <li class="list-pic">
               			<label>有機證明文件(點選下框以新增或更換圖片)</label>
               			<div class="picBox">
                   			<img th:if="${tempOrganicPicBase64 != null}" 
                   				 th:src="@{'data:image/jpeg;base64,' + ${tempOrganicPicBase64}}"
                   				 alt="有機證明文件">
					        <div class="addPic"><i class="fa-solid fa-arrow-up-from-bracket"></i></div>
                   			<input type="file" th:field="*{organicPic}" class="organicPic pic" accept="image/*">
					    </div>
					    <div class="picInfo"></div>
					    <span th:if="${#fields.hasErrors('organicPic')}" th:errors="*{organicPic}" class="error"></span>
	               </li>
	               <li class="list-pic">
	               		<label>農地證明文件(點選下框以新增或更換圖片)</label>
               			<div class="picBox">
                   			<img th:if="${tempLandPicBase64 != null}" 
                   				 th:src="@{'data:image/jpeg;base64,' + ${tempLandPicBase64}}"
                   				 alt="農地證明文件">
					        <div class="addPic"><i class="fa-solid fa-arrow-up-from-bracket"></i></div>
                   			<input type="file" th:field="*{landPic}" class="landPic pic" accept="image/*">
					    </div>
					    <div class="picInfo"></div>
					    <span th:if="${#fields.hasErrors('landPic')}" th:errors="*{landPic}" class="error"></span>
	               </li>
	               <li class="list-pic">
	               		<label>農保證明文件(點選下框以新增或更換圖片)</label>
               			<div class="picBox">
                   			<img th:if="${tempInsurPicBase64 != null}" 
                   				 th:src="@{'data:image/jpeg;base64,' + ${tempInsurPicBase64}}"
                   				 alt="農保證明文件">
					        <div class="addPic"><i class="fa-solid fa-arrow-up-from-bracket"></i></div>
                   			<input type="file" th:field="*{insurPic}" class="insurPic pic" accept="image/*">
					    </div>
					    <div class="picInfo"></div>
					    <span th:if="${#fields.hasErrors('insurPic')}" th:errors="*{insurPic}" class="error"></span>
	               </li>
	               
	               <input type="submit" value="儲存" class="btn link" id="btn-submitReg">
	            </ul>
	        </form>
	    </div>
	</div>
	<div th:replace="~{/front_end/index :: footer}"></div>


	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/js/mem/emailAddr.js}"></script>
	<script th:src="@{/js/fmem/uploadPic.js}"></script>
	<script th:src="@{/js/fmem/bankCode.js}"></script>
	<script th:src="@{/js/mem/successUpdateProfileAlert.js}"></script>
	
</body>
</html>