<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> 播下希望｜小農抽籤活動</title>
  <!-- 共用樣式 -->
<th:block th:replace="~{/front_end/index :: mainCss}"></th:block>
<link rel="stylesheet" th:href="@{/css/memcpn/lottery.css}">
<style>

</style>
</head>
<body>
 <!-- 主內容外層要有 container -->
  <div class="container container-main">
  <h2>小農成長故事</h2>
  <p>每一顆種子，都是希望的開始。</p>
</div>
<div class="garden-box">
<div class="garden">
  <img src="/images/CpnLottery/seed.png" alt="seed" class="seed" id="seed">
  <img src="/images/CpnLottery/gram.png" alt="germ" class="germ" id="germ">
  <img src="/images/apple.png" alt="bloom" class="bloom" id="bloom">
</div>
<button class="btn-plant" id="plantBtn">🌾 播種開始</button>
</div>

<script>

</script>
<!-- Footer -->
  <div th:replace="~{/front_end/index :: footer}"></div>
  <!-- SweetAlert2 官方套件 -->
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script th:src="@{/js/memcpn/lottery.js}"></script>
</body>
</html>
