<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小農會員註冊</title>
    <link rel="icon" href="./images/logo.png">
    
    <th:block th:replace="~{/front_end/index :: mainCss}"></th:block>
    <link rel="stylesheet" th:href="@{/css/mem/regLogin.css}">

    <style>
/* 		.container-header, */
/* 		.container-footer{ */
/* 			background-color: #dce2ef;	 */
/* 		} */
/* 		.nav > li > a{ */
/* 			background-color: #4F9D9D; */
/* 		} */

		
		
		form.userInfo{
		    border: 3px solid #c0cbeb;
		}
		.reg-login-btns .btn-login,
		.reg-login-btns .btn-reg{
		    color: #63554b;
		    background-color: #dce2ef;
		}
		.reg-login-btns .active-btn{
  		    background-color: #bdcef2; 
		}
		.reg-login-btns .btn-login:not(.active-btn):hover,
		.reg-login-btns .btn-reg:not(.active-btn):hover{
		    background-color: #d0dcf5;
		}
		
	</style>
</head>
<body th:data-active-tab="${activeTab != null ? activeTab : 'login'}" th:data-success="${success}">
    

    <div th:replace="~{/front_end/index :: header}"></div>

    <div class="container container-reg-login">
        <h2 class="reg-login-title">小農會員</h2>

        <div class="reg-login-btns">    
            <span class="btn-login active-btn" id="btn-login">登 入</span><span class="btn-reg" id="btn-reg">註 冊</span>
        </div>
        
        <div class="login" id="login">
            <form method="post" th:action="@{/fmem/login}" th:object="${loginRequest}" class="userInfo">
                <ul>
                    <li>
                        <label for="">帳號</label>
                        <input type="text" th:field="*{fmemAccLogin}" class="accLogin" placeholder="fmem測試帳號:test">                        
                    </li>
                    <li>
                        <label for="">密碼</label>
                        <input type="password" th:field="*{fmemPwdLogin}" class="pwdLogin" placeholder="fmem測試密碼:1234">
                    </li>

					<div th:if="${loginError}">
						<span th:text="${loginError}" class="error error-login"></span>
					</div>
					<a class="forget-pwd-btn" th:href="@{/fmem/forgetPasswordPage}">忘記密碼？</a>

					<input type="submit" value="登入" class="btn link">
                </ul>
            </form>
        </div>
        
        <div class="register" id="register">
            <form method="post" th:action="@{/fmem/register}" th:object="${fmem}" class="userInfo">
                <ul>
                    <li>
                        <label for="">帳號</label>
                        <input type="text" th:field="*{fmemAcc}" class="acc" placeholder="英文或數字或_ , 長度8~20">                        
                        <span th:if="${#fields.hasErrors('fmemAcc')}" th:errors="*{fmemAcc}" class="error"></span>
						<span th:if="${regError}" th:text="${regError}" class="error-reg"></span>
                    </li>
                    <li>
                        <label for="">密碼</label>
                        <input type="password" th:field="*{fmemPwd}" class="pwd" placeholder="英文或數字或@ , 長度8~20">
                        <span th:if="${#fields.hasErrors('fmemPwd')}" th:errors="*{fmemPwd}" class="error"></span>
                    </li>
                    <li>
                        <label for="">再次輸入密碼</label>
                        <input type="password" th:field="*{fmemPwdCheck}" placeholder="英文或數字或@ , 長度8~20">
                        <span th:if="${#fields.hasErrors('fmemPwdCheck')}" th:each="error : ${#fields.errors('fmemPwdCheck')}" th:text="${error}" class="error"></span>
                    </li>
                    <li>
                        <label for="">姓名</label>
                        <input type="text" th:field="*{fmemName}">
                        <span th:if="${#fields.hasErrors('fmemName')}" th:errors="*{fmemName}" class="error"></span>
                    </li>
                    <li>
                        <label for="">身分證字號</label>
                        <input type="text" th:field="*{fId}">
                        <span th:if="${#fields.hasErrors('fId')}" th:errors="*{fId}" class="error"></span>
                    </li>
             
                    <li>
                        <label for="">手機</label>
                        <input type="tel" th:field="*{fmemMobile}" placeholder="格式: 09XX-XXXXXX">
                        <span th:if="${#fields.hasErrors('fmemMobile')}" th:errors="*{fmemMobile}" class="error"></span>
                    </li>
                    <li>
                        <label for="">市話</label>
                        <input type="tel" th:field="*{fmemTel}" placeholder="">
                        <span th:if="${#fields.hasErrors('fmemTel')}" th:errors="*{fmemTel}" class="error"></span>
                    </li>
                    <li>
                        <label for="">信箱</label>
                        <input type="email" th:field="*{fmemEmail}" class="email" list="email-suggestions">
                        <datalist id="email-suggestions"></datalist>
                        <span th:if="${#fields.hasErrors('fmemEmail')}" th:errors="*{fmemEmail}" class="error"></span>
                    </li>
                    <li class="list-addr">
                        <label>居住地址</label>
                        <input type="text" th:field="*{fmemZipcode}" class="zipcode" placeholder="郵遞區號" maxlength="3">

                        <select th:field="*{fmemCity}" class="city">
                            <option value="" class="city-option" id="city-option"></option>
                        </select>

                        <select th:field="*{fmemDist}" class="dist">
                            <option value="" class="dist-option" id="dist-option"></option>
                        </select>
                        
                        <input type="text" th:field="*{fmemAddr}" class="addr" placeholder="街道名稱 / 號碼 / 樓層" >
                        
                        <span th:if="${#fields.hasErrors('fmemZipcode')}" th:errors="*{fmemZipcode}" class="error-zipcode"></span>
                        <span th:if="${#fields.hasErrors('fmemCity')}" th:errors="*{fmemCity}" class="error-city"></span>
                        <span th:if="${#fields.hasErrors('fmemDist')}" th:errors="*{fmemDist}" class="error-dist"></span>
                        <span th:if="${#fields.hasErrors('fmemAddr')}" th:errors="*{fmemAddr}" class="error-addr"></span>
                    </li>
                    <li class="list-bank">
                        <label>收款資訊</label>
                        <input type="text" th:field="*{bankCode}" class="bankCode" placeholder="銀行代碼" maxlength="5">          
                        <input type="text" th:field="*{bankAcc}" class="bankAcc" placeholder="銀行帳號" maxlength="20">
                        
                        <span th:if="${#fields.hasErrors('bankCode')}" th:errors="*{bankCode}" class="error-bankCode"></span>
                        <span th:if="${#fields.hasErrors('bankAcc')}" th:errors="*{bankAcc}" class="error-bankAcc"></span>
                    </li>
                    
                    <input type="submit" value="送出" class="btn link" id="btn-submitReg">
                </ul>
            </form>
        </div>
    </div>


	<div th:replace="~{/front_end/index :: footer}"></div>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/js/mem/regLogin.js}"></script>
    <script th:src="@{/js/mem/regBank.js}"></script>
    <script th:src="@{/js/mem/successUpdatePasswordAlert.js}"></script>
    
    
</body>
</html>