<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header footer 模板</title>
    <link rel="icon" href="./images/logo.png">
    
<!--     引入main.css, iconfonts -->
    <th:block th:replace="~{/front_end/index :: mainCss}"></th:block>
    
    <link rel="stylesheet" th:href="@{/css/mem/regLogin.css}">
    <link rel="stylesheet" th:href="@{/css/mem/memArea.css}">

</head>
<body th:data-success="${success}">

<div th:replace="~{/front_end/index :: header}"></div>

<div class="container container-member">
    <div class="member-sidebar">
        <h3>會員專區</h3>
<!--         = index.html的會員中心架構 -->
        <ul th:replace="~{/front_end/index :: memAreaLink}"></ul>
    </div>

    <div class="member-content center">
            <form method="post" th:action="@{/mem/memArea/updatePassword}" th:object="${updatePasswordMem}" class="userInfo">
                <h3>修改會員資料</h3>
                <ul>
<!--                     <li> -->
<!--                         <label for="">目前密碼</label> -->
<!--                         <input type="password" th:field="*{memPwd}" class="pwd" placeholder="英文或數字或@ , 長度8~20"> -->
<!--                         <span th:if="${#fields.hasErrors('memPwd')}" th:errors="*{memPwd}" class="error"></span> -->
<!--                     </li> -->
                    
                    <li>
                        <label for="">設定新密碼</label>
                        <input type="password" th:field="*{memPwd}" class="pwd" placeholder="英文或數字或@ , 長度8~20">
                        <span th:if="${#fields.hasErrors('memPwd')}" th:errors="*{memPwd}" class="error"></span>
                    </li>
                    <li>
                        <label for="">再次輸入新密碼</label>
                        <input type="password" th:field="*{memPwdCheck}" placeholder="英文或數字或@ , 長度8~20">
                        <span th:if="${#fields.hasErrors('memPwdCheck')}" th:errors="*{memPwdCheck}" class="error"></span>
                    </li>
                  
                    <input type="submit" value="儲存" class="btn link" id="btn-submitReg">
                </ul>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{/front_end/index :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/mem/successUpdatePasswordAlert.js}"></script>

</body>
</html>