<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>廣告申請列表</title>
<link rel="stylesheet" th:href="@{/css/ad/reviewAd.css}">
<link rel="stylesheet" th:href="@{/css/ad/adminListAll.css}">
<style>

th {
	background-color: #d97706;
}

tr:nth-child(even) {
	background-color:#fff7ed; 
}

tr.even {
	background-color:#ccc;
}


.btn {
	background: #FF8C42;
}

.btn:hover {
	background: #FF9F68;
}


</style>
</head>
<body th:data-success="${success}">

<h1 class="title">管理員查詢活動廣告審核列表</h1>
<img class="reviewPerson" id="personImg" th:src="@{/images/ad/review.gif}" alt="reviewPerson" />

<div class="mwt_border">
    <span class="arrow_b_int"></span>
    <span class="arrow_b_out"></span>
     <p class="bubble-text" id="bubbleText">你是最棒的!</p>
</div>

<div>
  <label for="adType" class="functions">選擇廣告類型：</label>
  <select id="adType" class="btn">
    <option th:value="@{/admin/proAd/list}" th:selected="${selectedType} == 'proAd'" >商品廣告</option>
    <option th:value="@{/admin/actAd/list}" th:selected="${selectedType} == 'actAd'">活動廣告</option>
  </select>
</div>

<form id="actAdSearch" th:action="@{/admin/actAd/list}" method="get" class= "functions" style="display:flex">
  <input type="number" name="actAdId" placeholder="輸入活動廣告編號" class= "functions" >
  <button type="submit" class="btn">查詢</button>
	<div th:if="${queryError}" style="color:red; margin-top:6px; margin-left:20px;" >
    <span th:text="${queryError}"></span>
    <a th:href="@{/admin/actAd/list}" class="btn" style="padding:11px;">
      回到全部
    </a>
  </div>
</form>

<div style="display: flex;gap: 10px;align-items: center;">
<form id="actNotReview" th:action="@{/admin/actAd/list}" method="get" class= "functions" >
  <input type="hidden" name="actAdRevStat" value="1"> 
  <button type="submit" class="btn">查詢尚未審核</button>
</form>
<form th:if="${actAdRevStat == 1}"id="actNotReview" th:action="@{/admin/actAd/list}" class= "functions" method="get" >
  <button type="submit" class="btn">查全部</button>
</form>
</div>

<table id="actAdTable">
  <tr>
    <th>活動<br>廣告編號</th><th>小農<br>編號</th><th>活動名稱</th><th>活動廣告圖片</th>
    <th>審核狀態</th><th>審核<br>更新時間</th><th>審核備註</th>
    <th>上下架<br>狀態</th><th>上下架<br>更新時間</th>
    <th>開始日期</th><th>結束日期</th>
    <th>費用</th><th>繳費截止日</th><th>進行審核</th><th>修改</th>
  </tr>

  <tr th:each="actAdVO : ${listAllActAd}"
      th:if="${actAdId == null or actAdVO.actAdId == actAdId}">
      
    <td th:text="${actAdVO.actAdId}"></td>
    <td th:text="${actAdVO.fmemId}"></td>
    <td th:text="${actAdVO.act.actName}"  width="100"></td>
    <td><img class="adImg" th:src="@{/actAd/img/{id}(id=${actAdVO.actAdId})}" alt="actAdImg" width="100"/></td>

    <td th:switch="${actAdVO.actAdRevStat}">
      <span th:case="0">編輯中</span>
      <span th:case="1">待審核</span>
      <span th:case="2">通過</span>
      <span th:case="3">未通過</span>
      <span th:case="4">待繳費</span>
      <span th:case="5">已繳費</span>
    </td>

    <td>
      <span th:text="${#dates.format(actAdVO.actAdRevUpd,'yyyy-MM-dd')}"></span><br>
      <span th:text="${#dates.format(actAdVO.actAdRevUpd,'HH:mm:ss')}"></span>
    </td>

    <td th:text="${actAdVO.actAdRevRemark}">-</td>

    <td>
      <span th:if="${actAdVO.actAdLaunStat == 0}">下架中</span>
      <span th:if="${actAdVO.actAdLaunStat != 0}">上架中</span>
    </td>

    <td>
      <span th:text="${#dates.format(actAdVO.actAdLaunUpd,'yyyy-MM-dd')}"></span><br>
      <span th:text="${#dates.format(actAdVO.actAdLaunUpd,'HH:mm:ss')}"></span>
    </td>
    
    <td>
      <span th:if="${actAdVO.actAdStart != null}" th:text="${actAdVO.actAdStart}"></span>
      <span th:unless="${actAdVO.actAdStart != null}">-</span>
    </td>

    <td>
      <span th:if="${actAdVO.actAdEnd != null}" th:text="${actAdVO.actAdEnd}"></span>
      <span th:unless="${actAdVO.actAdEnd != null}">-</span>
    </td>

    <td>
      <span th:if="${actAdVO.actAdFee != null}"
            th:text="|$ ${#numbers.formatInteger(actAdVO.actAdFee, 0, 'COMMA')}|"></span>
      <span th:unless="${actAdVO.actAdFee != null}">-</span>
    </td>

    <td>
      <span th:if="${actAdVO.actAdFeeEnd != null}" th:text="${actAdVO.actAdFeeEnd}"></span>
      <span th:unless="${actAdVO.actAdFeeEnd != null}">-</span>
    </td>

    <td>
      <div th:if="${actAdVO.actAdRevStat == 1}">
		 <form th:action="@{/admin/actAd/showReviewActAd}" method="get">
		  <input type="hidden" name="actAdId" th:value="${actAdVO.actAdId}">
		  <input type="submit" value="開始審核" class="btn">
		</form>
	  </div>
      <span th:if="${actAdVO.actAdRevStat == 3}">🚫</span>
      <span th:if="${actAdVO.actAdRevStat == 4}">💰⏳</span>
      <span th:if="${actAdVO.actAdRevStat == 5}">🎉</span>
    </td>
    
    <td>
    <form th:action="@{/admin/actAd/showUpdateActAd}" method="get">
    	  <input type="hidden" name="actAdId" th:value="${actAdVO.actAdId}">
		  <input type="submit" value="修改" class="btn">
	</form>
    </td>
  </tr>
</table>

<!-- 將審核活動畫面拉進來 -->
<div th:if="${showReview}" id="actAdRevView" class="actAdRevView" style="display:block;">
  <div th:replace="~{back_end/logined/ad/adminReviewActAd :: reviewActAd-div(actAdVO=${actAdVO})}"></div>
</div>

<!-- 圖片放大 -->
<div id="outSide" class="outSide">
  <b><span id="closeButton" class="closeButton">X</span></b>
  <div id="inSide" class="inSide">
    <img id="zoomImg" class="zoomImg" alt="預覽">
  </div>
</div>
<div style="text-align:center; margin-top:20px">
<a th:href="@{/managepage}" class="btn" >
		  回到管理員首頁
</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
// 下拉切換
document.getElementById('adType').addEventListener('change', e=>{
  location.href = e.target.value;
});

// 圖片放大
const outSide = document.getElementById('outSide');
const zoomImg = document.getElementById('zoomImg');
document.addEventListener('click', e=>{
  const img = e.target.closest('.adImg');
  if (!img) return;
  outSide.style.display = 'block';
  zoomImg.src = img.src;
});
document.getElementById('closeButton').addEventListener('click', ()=>{
  outSide.style.display = 'none';
  zoomImg.src = '';
});

//活動審核畫面顯示
document.addEventListener('click', function (e) {
	const btn = e.target.closest('.showActAdReview');
	if (!btn) return;
  e.preventDefault();
  document.getElementById('actAdRevView').style.display = 'block';
});

//關閉活動審核畫面顯示
document.addEventListener('click', (e) => {
  const btn = e.target.closest('.closeRev');
  if (!btn) return;
  location.href = '/admin/actAd/list';
});

//人物文字顯示
const quotes = [
    "Java是簡單的。",
    "最喜歡看認真的你。",
    "記得喝水!",
    "快到發薪日了，加油!",
    "你今天也要很正面哦!",
    "我愛我的工作。",
  ];

  const personImg = document.getElementById("personImg");
  const bubbleText = document.getElementById("bubbleText");

  personImg.addEventListener("click", () => {
    const randomIndex = Math.floor(Math.random() * quotes.length);
    bubbleText.textContent = quotes[randomIndex];
  });
  
  //審核完畢特效
  window.addEventListener("load", function() {
		const successMsg = document.body.dataset.success;
		if (successMsg != null) {
			console.log(successMsg);
			if (successMsg  === "審核完成") {
				Swal.fire({
					icon : 'success',
					title : successMsg,
					text : "工作辛苦了!",
					showConfirmButton : false,
					customClass : {
						icon : 'custom-icon',
						popup : 'custom-swal',
						title : 'custom-swal-title',
						htmlContainer : 'custom-swal-content'
					}
				});

			}
			
			if (successMsg  === "修改完成") {
				Swal.fire({
					icon : 'success',
					title : successMsg,
					text : "工作辛苦了!",
					showConfirmButton : false,
					customClass : {
						icon : 'custom-icon',
						popup : 'custom-swal',
						title : 'custom-swal-title',
						htmlContainer : 'custom-swal-content'
					}
				});

			}

		}
	});
  
  
  
  
</script>
</body>
</html>
