<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>廣告申請列表</title>
<link rel="stylesheet" th:href="@{/css/ad/reviewAd.css}">
<link rel="stylesheet" th:href="@{/css/ad/adminListAll.css}">
</head>
<body th:data-success="${success}">

<h1 class="title">管理員查詢商品廣告審核列表</h1>
<img class="reviewPerson" id="personImg" th:src="@{/images/ad/review.gif}" alt="reviewPerson" />

<div class="mwt_border">
    <span class="arrow_b_int"></span>
    <span class="arrow_b_out"></span>
     <p class="bubble-text" id="bubbleText">你是最棒的!</p>
</div>

<div>
  <label for="adType" class="functions">選擇廣告類型：</label>
  <select id="adType" class="btn">
    <option th:value="@{/admin/proAd/list}" th:selected="${selectedType} == 'proAd'" >商品廣告</option>
    <option th:value="@{/admin/actAd/list}" th:selected="${selectedType} == 'actAd'">活動廣告</option>
  </select>
</div>

<form id="proAdSearch" th:action="@{/admin/proAd/list}" method="get" class= "functions" style="display:flex">
  <input type="number" name="proAdId" placeholder="輸入商品廣告編號" class= "functions" >
  <button type="submit" class="btn">查詢</button>
	<div th:if="${queryError}" style="color:red; margin-top:6px; margin-left:20px;" >
    <span th:text="${queryError}"></span>
    <a th:href="@{/admin/proAd/list}" class="btn" style="padding:11px;">
      回到全部
    </a>
  </div>
</form>

<div style="display: flex;gap: 10px;align-items: center;">
<form id="proNotReview" th:action="@{/admin/proAd/list}" method="get" class= "functions" >
  <input type="hidden" name="proAdRevStat" value="1"> 
  <button type="submit" class="btn">查詢尚未審核</button>
</form>
<form th:if="${proAdRevStat == 1}"id="proNotReview" th:action="@{/admin/proAd/list}" class= "functions" method="get" >
  <button type="submit" class="btn">查全部</button>
</form>
</div>

<table id="proAdTable">
  <tr>
    <th>商品<br>廣告編號</th><th>小農<br>編號</th><th>商品名稱</th><th>商品廣告圖片</th>
    <th>審核狀態</th><th>審核<br>更新時間</th><th>審核備註</th>
    <th>上下架<br>狀態</th><th>上下架<br>更新時間</th>
    <th>開始日期</th><th>結束日期</th>
    <th>費用</th><th>繳費截止日</th><th>進行審核</th><th>修改</th>
  </tr>

  <tr th:each="proAdVO : ${listAllProAd}"
      th:if="${proAdId == null or proAdVO.proAdId == proAdId}">
      
    <td th:text="${proAdVO.proAdId}"></td>
    <td th:text="${proAdVO.fmemId}"></td>
    <td th:text="${proAdVO.product.proName}"></td>
    <td><img class="adImg" th:src="@{/proAd/img/{id}(id=${proAdVO.proAdId})}" alt="proAdImg" width="100"/></td>

    <td th:switch="${proAdVO.proAdRevStat}">
      <span th:case="0">編輯中</span>
      <span th:case="1">待審核</span>
      <span th:case="2">通過</span>
      <span th:case="3">未通過</span>
      <span th:case="4">待繳費</span>
      <span th:case="5">已繳費</span>
    </td>

    <td>
      <span th:text="${#dates.format(proAdVO.proAdRevUpd,'yyyy-MM-dd')}"></span><br>
      <span th:text="${#dates.format(proAdVO.proAdRevUpd,'HH:mm:ss')}"></span>
    </td>

    <td th:text="${proAdVO.proAdRevRemark}">-</td>

    <td>
      <span th:if="${proAdVO.proAdLaunStat == 0}">下架中</span>
      <span th:if="${proAdVO.proAdLaunStat != 0}">上架中</span>
    </td>

    <td>
      <span th:text="${#dates.format(proAdVO.proAdLaunUpd,'yyyy-MM-dd')}"></span><br>
      <span th:text="${#dates.format(proAdVO.proAdLaunUpd,'HH:mm:ss')}"></span>
    </td>
    
    <td>
      <span th:if="${proAdVO.proAdStart != null}" th:text="${proAdVO.proAdStart}"></span>
      <span th:unless="${proAdVO.proAdStart != null}">-</span>
    </td>

    <td>
      <span th:if="${proAdVO.proAdEnd != null}" th:text="${proAdVO.proAdEnd}"></span>
      <span th:unless="${proAdVO.proAdEnd != null}">-</span>
    </td>

    <td>
      <span th:if="${proAdVO.proAdFee != null}"
            th:text="|$ ${#numbers.formatInteger(proAdVO.proAdFee, 0, 'COMMA')}|"></span>
      <span th:unless="${proAdVO.proAdFee != null}">-</span>
    </td>

    <td>
      <span th:if="${proAdVO.proAdFeeEnd != null}" th:text="${proAdVO.proAdFeeEnd}"></span>
      <span th:unless="${proAdVO.proAdFeeEnd != null}">-</span>
    </td>

    <td>
      <div th:if="${proAdVO.proAdRevStat == 1}">
		 <form th:action="@{/admin/proAd/showReviewProAd}" method="get">
		  <input type="hidden" name="proAdId" th:value="${proAdVO.proAdId}">
		  <input type="submit" value="開始審核" class="btn">
		</form>
	  </div>
      <span th:if="${proAdVO.proAdRevStat == 3}">🚫</span>
      <span th:if="${proAdVO.proAdRevStat == 4}">💰⏳</span>
      <span th:if="${proAdVO.proAdRevStat == 5}">🎉</span>
    </td>
    
    <td>
    <form th:action="@{/admin/proAd/showUpdateProAd}" method="get">
    	  <input type="hidden" name="proAdId" th:value="${proAdVO.proAdId}">
		  <input type="submit" value="修改" class="btn">
	</form>
    </td>
  </tr>
</table>

<!-- 將審核商品畫面拉進來 -->
<div th:if="${showReview}" id="proAdRevView" class="proAdRevView" style="display:block;">
  <div th:replace="~{back_end/logined/ad/adminReviewProAd :: reviewProAd-div(proAdVO=${proAdVO})}"></div>
</div>

<!-- 圖片放大 -->
<div id="outSide" class="outSide">
  <b><span id="closeButton" class="closeButton">X</span></b>
  <div id="inSide" class="inSide">
    <img id="zoomImg" class="zoomImg" alt="預覽">
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
// 下拉切換
document.getElementById('adType').addEventListener('change', e=>{
  location.href = e.target.value;
});

// 圖片放大
const outSide = document.getElementById('outSide');
const zoomImg = document.getElementById('zoomImg');
document.addEventListener('click', e=>{
  const img = e.target.closest('.adImg');
  if (!img) return;
  outSide.style.display = 'block';
  zoomImg.src = img.src;
});
document.getElementById('closeButton').addEventListener('click', ()=>{
  outSide.style.display = 'none';
  zoomImg.src = '';
});

//商品審核畫面顯示
document.addEventListener('click', function (e) {
	const btn = e.target.closest('.showProAdReview');
	if (!btn) return;
  e.preventDefault();
  document.getElementById('proAdRevView').style.display = 'block';
});

//關閉商品審核畫面顯示
document.addEventListener('click', (e) => {
  const btn = e.target.closest('.closeRev');
  if (!btn) return;
  location.href = '/admin/proAd/list';
});

//人物文字顯示
const quotes = [
    "Java是簡單的。",
    "最喜歡看認真的你。",
    "記得喝水!",
    "快到發薪日了，加油!",
    "你今天也要很正面哦!",
    "我愛我的工作。",
  ];

  const personImg = document.getElementById("personImg");
  const bubbleText = document.getElementById("bubbleText");

  personImg.addEventListener("click", () => {
    const randomIndex = Math.floor(Math.random() * quotes.length);
    bubbleText.textContent = quotes[randomIndex];
  });
  
  
  //審核完畢特效
  window.addEventListener("load", function() {
		const successMsg = document.body.dataset.success;
		if (successMsg != null) {
			console.log(successMsg);
			if (successMsg  === "審核完成") {
				Swal.fire({
					icon : 'success',
					title : successMsg,
					text : "工作辛苦了!",
					showConfirmButton : false,
					customClass : {
						icon : 'custom-icon',
						popup : 'custom-swal',
						title : 'custom-swal-title',
						htmlContainer : 'custom-swal-content'
					}
				});

			}
			if (successMsg  === "修改完成") {
				Swal.fire({
					icon : 'success',
					title : successMsg,
					text : "工作辛苦了!",
					showConfirmButton : false,
					customClass : {
						icon : 'custom-icon',
						popup : 'custom-swal',
						title : 'custom-swal-title',
						htmlContainer : 'custom-swal-content'
					}
				});

			}

		}
	});
  
  
  
</script>
</body>
</html>
