<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台管理小農會員</title>
    <link rel="icon" href="./images/logo.png">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/admin/listAllMems.css}">
    <link rel="stylesheet" th:href="@{/css/admin/listAllFmems.css}">
   
</head>
<body>
    <div class="container container-main">
        <h1>後台管理小農會員</h1>
        <div class="back-links">
        	<a th:href="@{/admin/mem-management}" class="back-link"><i class="fa-solid fa-house"></i></a>
        </div>
			
        <div class="panel">
			<ul class="selectors">
				<li class="switch-list">
					<input type="checkbox" id="myFid" checked>
					<label for="myFid">身分證字號</label>
				</li>
				<li class="switch-list">
					<input type="checkbox" id="myName" checked>
					<label for="myName">姓名</label>
				</li>
				
				<li class="switch-list">
					<input type="checkbox" id="myStoreName" checked>
					<label for="myStoreName">商店名稱</label>
				</li>
	
				<li class="switch-list">
					<input type="checkbox" id="myMobile">
					<label for="myMobile">手機</label>
				</li>
				<li class="switch-list">
					<input type="checkbox" id="myTel">
					<label for="myTel">市話</label>
				</li>
				<li class="switch-list">
					<input type="checkbox" id="myEmail" checked>
					<label for="myEmail">信箱</label>
				</li>
				
				<li class="switch-list">
					<input type="checkbox" id="myBankCode">
					<label for="myBankCode">銀行代碼</label>
				</li>
				<li class="switch-list">
					<input type="checkbox" id="myBankAcc">
					<label for="myBankAcc">銀行帳號</label>
				</li>
				
				<li class="switch-list">
					<input type="checkbox" id="myZipcode">
					<label for="myZipcode">郵遞區號</label>
				</li>
				<li class="switch-list">
					<input type="checkbox" id="myCity">
					<label for="myCity">縣市</label>
				</li>
				<li class="switch-list">
					<input type="checkbox" id="myDist">
					<label for="myDist">區域</label>
				</li>
				<li class="switch-list">
					<input type="checkbox" id="myAddr">
					<label for="myAddr">地址</label>
				</li>
				
				<li class="switch-list">
					<input type="checkbox" id="myMktAvg">
					<label for="myMktAvg">商品總評價</label>
				</li>
				<li class="switch-list">
					<input type="checkbox" id="myActAvg">
					<label for="myActAvg">活動總評價</label>
				</li>
				<li class="switch-list">
					<input type="checkbox" id="myRptCnt">
					<label for="myRptCnt">被檢舉次數</label>
				</li>
				
				<li class="switch-list">
					<input type="checkbox" id="myRegDate" checked>
					<label for="myRegDate">註冊時間</label>
				</li>
				
			</ul>
        	
        	<div class="search-area">
	        	<div class="start-review">
					<a th:href="@{/admin/reviewFmems}" class="btn">前往待審核頁面</a>
				</div>
	        	<div class="search-bar">
					<input type="text" class="fuzzy-search" placeholder="請輸入會員編號或姓名">
					<button class="btn btn-fuzzy-search"><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			</div>
        </div>
    
	</div>
    <div class="container container-table">
		<div class="table-wrapper">
		
			<table class="table">
				<thead>
					<tr class="table-header">
					    <th>會員編號</th>
					    <th class="myAcc">帳號</th>
			    		<th class="myFid">身分證字號</th>
					    <th class="myName">姓名</th>
					    <th class="myStoreName">商店名稱</th>
					    <th class="myMobile">手機</th>
					   	<th class="myTel">市話</th>
					    <th class="myEmail">信箱</th>
					    <th class="myZipcode">郵遞區號</th>
					    <th class="myCity">縣市</th>
					    <th class="myDist">區域</th>
					    <th class="myAddr">地址</th>
					    
						<th class="myBankCode">銀行代碼</th>
					    <th class="myBankAcc">銀行帳號</th>
					    <th class="myMktAvg">商品總評價</th>
					    <th class="myActAvg">活動總評價</th>
					    <th class="myRptCnt">被檢舉次數</th>
					    <th class="myRegDate">註冊時間</th>
					    
					    <th class="myStatus">
					    	審核狀態
					    	<select class="status-search-select">
				                <option value="99">顯示全部</option>
				                <option value="0">待審核</option>
				                <option value="1">審核通過</option>
				                <option value="2">已啟用</option>
				                <option value="3">審核未過</option>
				                <option value="4">停權</option>
				            </select>
					    </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fmem : ${listFmem}"
						th:class="(${lastEditFmemId == fmem.fmemId} ? 'activeRow' : '')">
				        <td class="myId">
					        
				        	<span th:text="${fmem.fmemId}"></span>
				        </td>
				        <td class="myAcc"><span th:text="${fmem.fmemAcc}"></span></td>
	        			<td class="myFid"><span th:text="${fmem.fId}"></span></td>
				
				        <td class="myName"><span th:text="${fmem.fmemName}"></span></td>
		        		<td class="myStoreName"><span th:text="${fmem.storeName}"></span></td>
				        <td class="myMobile"><span th:text="${fmem.fmemMobile}"></span></td>
		        		<td class="myTel"><span th:text="${fmem.fmemTel}"></span></td>
				        <td class="myEmail"><span th:text="${fmem.fmemEmail}"></span></td>
				        <td class="myZipcode"><span th:text="${fmem.fmemZipcode}"></span></td>
				        <td class="myCity"><span th:text="${fmem.fmemCity}"></span></td>
				        <td class="myDist"><span th:text="${fmem.fmemDist}"></span></td>
				        <td class="myAddr"><span th:text="${fmem.fmemAddr}"></span></td>
		        		<td class="myBankCode"><span th:text="${fmem.bankCode}"></span></td>
				        		<td class="myBankAcc"><span th:text="${fmem.bankAcc}"></span></td>
				        		<td class="myMktAvg"><span th:text="${fmem.mktCnt}"></span></td>
				        		<td class="myActAvg"><span th:text="${fmem.actCnt}"></span></td>
				        		<td class="myRptCnt"><span th:text="${fmem.rptCnt}"></span></td>
				        		
				        <td class="myRegDate"><span th:text="${fmem.regDate}"></span></td>
				
				        <td class="status-data">
					        <form method="post" th:action="@{/admin/updateFmemAccStatus}" class="table-row fmemForm">
					        	<input type="hidden" name="fmemId" th:value="${fmem.fmemId}">
					        	<div th:switch="${fmem.accStatus}" class="status-text">
					                <div th:case="0" data-status="0"><span>待審核</span></div>
					                <div th:case="1" data-status="1"><span>審核通過</span></div>
					                <div th:case="2" data-status="2">
					                	<span>已啟用</span>
					                	<input type="hidden" name="accStatus" value="4">
					                	<input type="submit" class="btn btn-suspend" value="停權">
<!-- 					                 0:待審核  1:審核通過  2:已啟用  3.審核未過  4:停權 -->
					                </div>
					                <div th:case="3" data-status="3"><span>審核未過</span></div>
					                <div th:case="4" data-status="4">
					                	<span>停權</span>
					                	<input type="hidden" name="accStatus" value="2">
					                	<input type="submit" class="btn btn-resume" value="復權">
					                </div>
					            </div>
					        </form>
				        </td>
					</tr>
					<tr class="resultMsg"></tr>
				</tbody>
			</table>
		</div>
   
    </div>
    
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/js/admin/listAllMems.js}"></script>
	<script th:src="@{/js/admin/fmemSearchByStatus.js}"></script>
</body>
</html>

