<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.html</title>
    <link rel="icon" href="./images/logo.png">
    
    <th:block th:fragment="mainCss">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	    <link rel="stylesheet" th:href="@{/css/main.css}">
    </th:block>
    
    <link rel="stylesheet" th:href="@{/css/index.css}">
	
</head>
<body th:data-success="${success}">

    <div class="container container-header" th:fragment="header">
        <div class="header">
            <div class="logo">
                <a th:href="@{/}" class="link">
                    <img th:src="@{/images/logo-t.png}" alt="">
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="#" class="link btn">關於本站</a>
                    <ul>
                        <li><a href="#">自行修改喔</a></li>
                        <li><a href="#">自行修改喔</a></li>
                        <li><a href="#">自行修改喔</a></li>
                        <li><a href="#">自行修改喔</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="link btn">小農商城</a>
                    <ul>
                        <li><a href="#">自行修改喔</a></li>
                        <li><a href="#">自行修改喔</a></li>
                        <li><a href="#">自行修改喔</a></li>
                        <li><a href="#">自行修改喔</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="link btn">活動專區</a>
                    <ul>
                        <li><a href="#">自行修改喔</a></li>
                        <li><a href="#">自行修改喔</a></li>
                        <li><a href="#">自行修改喔</a></li>
                        <li><a href="#">自行修改喔</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/mem/memArea}" class="link btn">會員中心</a>
                    <ul th:fragment="memAreaLink">
			            <li><a th:href="@{/mem/memArea/updateProfilePage}">修改個人資料</a></li>
			            <li><a th:href="@{/mem/memArea/updatePasswordPage}">修改密碼</a></li>
                        <li><a th:href="@{/mem/proorders/listAllProOrder}">商城訂單查詢</a></li>
			            <li><a href="#">活動訂單查詢</a></li>
			            <li><a href="#">折價券</a></li>
			            <li><a href="#">收藏商品/活動</a></li>
                    </ul>
                </li>
            </ul>
            <div class="member">
                <a th:if="${session.loggedInMember} == null" th:href="@{/fmem/showFmemRegLoginForm}" class="member-logo link btn"><i class="fa-solid fa-user-tie"></i></a>
                <a th:if="${session.loggedInMember} == null" th:href="@{/mem/showMemRegLoginForm}" class="member-logo link btn"><i class="fa-solid fa-user"></i></a>
                <div class="helloUser" th:if="${session.loggedInMember} != null">
                	<div th:text="${session.loggedInMember.memName} + '，您好'"></div>
                	<div class="point">
                		<i class="fa-solid fa-coins"></i>
                		<span th:text="${session.loggedInMember.memPoint}"></span>
                	</div>
                </div>
                <a th:href="@{/cart/view}" class="member-logo link btn"><i class="fa-solid fa-cart-shopping"></i></a>

            	<form th:action="@{/mem/logout}" th:if="${session.loggedInMember} != null" method="post" class="logout">
            		<button type="submit" class="btn-logout"><i class="fa-solid fa-arrow-right-to-bracket"></i></button>
            	</form>

            
            </div>
            
        </div>
    </div>
    
    <div class="container container-banner">
        <div class="banner">
            <img th:src="@{/images/banner.png}" alt="banner">

            <div class="animate-box">
                <svg class="car" id="car" width="115" height="80" viewBox="0 0 115 80" xmlns="http://www.w3.org/2000/svg">     
                    <rect x="55" y="10" width="30" height="20" rx="3" fill="#ff7b42" />  <!-- 駕駛艙 -->
                    <rect x="10" y="38" width="30" height="14" rx="3" fill="#e65c2d" />  <!-- 收割頭 -->
                    <rect x="35" y="25" width="70" height="35" rx="5" fill="#e65c2d" />  <!-- 車身 -->
                    <circle cx="50" cy="60" r="10" fill="rgb(95, 67, 26)" />  <!-- 輪胎 -->
                    <circle cx="90" cy="60" r="10" fill="rgb(95, 67, 26)" />
                </svg>
            </div>
            
            <div class="text">
                <h2>農作物與它們的產地</h2>
                <p>我們的目標是建立一個雙向互動的社群：消費者不再只是購買者，更是支持在地永續農業的一份子；小農不只是生產者，更是生活與文化的傳遞者。</p>
            </div>
        </div>
    </div>

    <div class="container container-stats">
        <div class="stats-title title">一起支持在地小農</div>
        <div class="stats">
            <div class="stat">
                <div class="stat-number" data-target="253">0</div>
                <div class="stat-label">合作小農</div>
            </div>
            <div class="stat">
                <div class="stat-number" data-target="1295">0</div>
                <div class="stat-label">上架商品</div>
            </div>
            <div class="stat">
                <div class="stat-number" data-target="35588">0</div>
                <div class="stat-label">完成訂單</div>
            </div>
            <div class="stat">
                <div class="stat-number" data-target="96">0</div>
                <div class="stat-label">顧客滿意度 (%)</div>
            </div>
        </div>
    </div>

    <div class="container container-intro">
        <div class="intro">
            <div class="pic">
                <img th:src="@{/images/farmer-concept.png}" alt="farmerConcept" style="width: 100%">
            </div>
            <div class="text">
                <h2>因為有你，土地更美好</h2>
                <p>我們的目標是建立一個雙向互動的社群，消費者不再只是購買者，更是支持在地永續農業的一份子，小農不只是生產者，更是生活與文化的傳遞者。</p>
                <p>透過科技與真誠的連結，我們希望這個平台能成為都市與鄉村之間的一座橋樑，讓好的農產品不被埋沒，讓有故事的人與物被看見，進而打造一個更有溫度、更具人情味的食農新經濟。</p>
                <div class="btn-to-shops">
                    <a href="#" class="btn-to-shop btn">
                        <i class="fa-solid fa-carrot"></i>
                        逛逛商店
                    </a>
                    <a href="#" class="btn-to-shop btn">
                        <i class="fa-solid fa-leaf"></i>
                        逛逛活動
                    </a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="container container-concepts">
        <div class="concepts-title title">選擇我們的理由</div>
        <div class="concepts">
            <div class="concept">
                <a href="#" class="link">
                    <div class="fruit-pic apple" id="apple">
                        <img th:src="@{/images/apple.png}" alt="apple" style="max-width: 100px; max-height: 100px;" >
                    </div>
                    <div class="concept-name">新鮮直送</div>
                    <div class="concept-desc">小農現採直送，減少運輸時間，保留天然風味與完整營養，讓你在餐桌上品嚐到最鮮美的食材。</div>
                </a>  
            </div>

            <div class="concept-gap"></div>
            
            <div class="concept">
                <a href="#" class="link">
                    <div class="fruit-pic orange" id="orange">
                        <img th:src="@{/images/orange.png}" alt="orange" style="max-width: 100px; max-height: 100px;"  >
                    </div>
                    <div class="concept-name">支持在地</div>
                    <div class="concept-desc">購買小農商品就是支持台灣農業，幫助農民持續耕耘土地，守護我們共同的生活環境。</div>
                </a>  
            </div>

            <div class="concept-gap"></div>
            <div class="concept">
                <a href="#" class="link">
                    <div class="fruit-pic lemon" id="lemon">
                        <img th:src="@{/images/lemon.png}" alt="lemon" style="max-width: 105px; max-height: 100px;" >
                    </div>
                    <div class="concept-name">公平價值</div>
                    <div class="concept-desc">直送省去中間環節，讓農民獲得合理收益，你也能以實惠價格享受高品質產品。</div>
                </a>  
            </div> 
        </div>
    </div>

    <div class="container container-shops">
        <div class="shops-title title">來逛逛我們的商店</div>
        <div class="shops">
            <div class="shop">
                <a href="#" class="link">
                    <div class="shop-name">小農商城</div>
                    <div class="shop-desc">新鮮蔬果採買</div>
                </a>  
            </div>
          
            <div class="shop">
                <a href="#" class="link">
                    <div class="shop-name">體驗活動</div>
                    <div class="shop-desc">農田生活體驗</div>
                </a>  
            </div>
        </div>
    </div>

    <div class="container container-map">
        <div class="map">
            <div class="map-title title">小農地圖</div>
            <div class="map-pic">
                <!-- <img src="./images/farmer-poly02.png" alt="" style="max-width: 300px;"> -->
            </div>
                        
        </div> 
    </div>

    <div class="container container-footer" th:fragment="footer">
        <div class="footer">
            <div class="quick-link">
                <a href="#">關於我們</a>
                <a href="#">最新消息</a>
                <a href="#">常見問題</a>
                <a href="#">聯絡我們</a>
                <a href="#">退貨說明</a>
                <a href="#">訂單查詢</a>
                <a href="#">聯絡我們</a>
            </div>
            <div class="info">
                <div class="copyright">Copyright © 2025 農作物與它們的產地</div>
                <span>Email: support@farm.com</span>
                <span>電話: 03-4259888</span>
                <span>地址: 桃園市中壢區農田路66號</span>
            </div>
        </div>
    </div>
    

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/mem/successRegAlert.js}"></script>
    
  
</body>
</html>