

/* *{outline: 1px solid #f00;} */

/* 回首頁連結 區分小農和一般會員按鈕的顏色  */
a.back-link{
	background-color: #72a0e0;
}
a.back-link:hover{
	background-color: #4383c9;
}



.container-main .panel .selectors{
	min-width: 550px;
	max-width: 850px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 15px;
}
.selectors .switch-list{
	width: 130px;
}


/* 改變整體顏色 */
.container{
    background: #eaf2ec;
}
thead tr{
	background-color: #c7d3e9;
}
tbody tr:nth-child(2n){
	background-color: #d8e7df;
}
tbody tr:hover{
	background-color: #bfd7cc;
}
tbody tr.activeRow{
	outline: 2px solid #789bed;
	background-color: #d1e6f5;
}



td.status-data form{
	min-width: 140px;
}
.status-text{
/* 	outline:1px solid #f00; */
	width: auto;
	min-width: 174px;
    border: none;
    margin-right: 0;
    background-color: transparent;
    /* 編輯功能 */
/* 	display: none;   */
/* 	display: block; */
}

.status-text > div{
	display: flex;	
	align-items: center;
	justify-content: center;
	
}

.status-text > div > span{
	display: inline-block;
	height: 38px; 
    line-height: 38px;
    padding-right: 10px;
    padding-left: 10px;
/*     border: 1px solid #10401070; */
    border-radius: 5px;
/*     background-color: #ffffff90; */
}
.status-text input.btn{
	width: 56px;
    height: 38px; 
	padding: 4px 10px;
	margin-left: 8px;
    font-size: 16px;
}

td.myStoreName{
	min-width: 90px;
}
td.myTel{
	min-width: 110px;
}
td.myBankCode{
	min-width: 90px;
}
td.myMktAvg,
td.myActAvg,
td.myRptCnt{
	min-width: 104px;
}

.myMobile,
.myTel,
.myBankCode,
.myBankAcc,
.myZipcode,
.myCity,
.myDist,
.myAddr,
.myMktAvg,
.myActAvg,
.myRptCnt{
	display: none;
}






