

/* 改變整體顏色 */
.container{
    background: #eaf2ec;
}
thead tr{
	background-color: #c7d3e9;
}
tbody tr:nth-child(2n){
	background-color: #d8e7df;
}
tbody tr:hover{
	background-color: #bfd7cc;
}
tbody tr.activeRow{
	outline: 2px solid #789bed;
	background-color: #d1e6f5;
}



.fuzzy-search{
	margin-left: auto;
}

.myMobile,
.myZipcode,
.myCity,
.myDist,
.myAddr{
	display: table-cell;
}

td.status-data form{
	min-width: 94px;
}



/* *{outline: 1px solid #f00;} */
.container-table{
	position: relative;
}
.back-links{
	display: inline-block;
	position: relative;
	top: 40px;
}

a.back-link{
	display: inline-block;
	width: 100%;
	padding: 6px 2px;
	color: #fff;
	background-color: #72a0e0;
	border-radius: 6px;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	
}
a.back-link:first-of-type{
	margin-bottom: 10px;
}
a.back-link:hover{
	background-color: #4383c9;
}




