
.container-forget-pwd,
.container-reset-pwd,
.container-identity-check,
.container-submit-supplement{
    margin-top: 50px;
}
.container-forget-pwd h2,
.container-reset-pwd h2,
.container-identity-check h2,
.container-submit-supplement h2{
    color: #62574e;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
}

.password-title,
.identity-check-title,
.submit-supplement-title{
    width: 520px;
    margin: 16px auto 0;
    text-align: center;
    color: #444;
    font-size: var(--link-button-font-size);
    display: flex;
    justify-content: center;
}
.password-title > span,
.identity-check-title > span,
.submit-supplement-title > span{
    display: inline-block;
    width: 100%;
    padding: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #63554b;
}
.container-forget-pwd .password-title > span{
    background-color: #fce19a;
}
.container-reset-pwd .password-title > span{
    background-color: #d6d0d0;
}
.container-identity-check .identity-check-title > span{
    background-color: #8fdae2;
}
.container-submit-supplement .submit-supplement-title > span{
    background-color: #92d3a3;
}


.container-forget-pwd form.userInfo{
    border: 3px solid #fce19a;
}
.container-reset-pwd form.userInfo{
    border: 3px solid #d6d0d0;
}
.container-identity-check form.userInfo{
    border: 3px solid #8fdae2;
}
.container-submit-supplement form.userInfo{
    border: 3px solid #92d3a3;
}

