
.container-member{
    margin-top: 50px;
    display: flex;
}
.member-sidebar{
    width: 150px;
}
.member-sidebar h3{
    padding: 0 8px;
    font-size: 22px;
    color: #333;
}
.member-sidebar ul{
    margin-top: 10px;
}
.member-sidebar li a{
    display: block;
    padding: 8px;
    border-top: 1px solid #6b635b8c;
    color: #333;
    font-size: 18px;
}
.member-sidebar li a:hover{
    background-color: #ff8a632e;
    color: var(--btn-hover-color);
}
.member-content{
    flex-grow: 1;
    padding-left: 40px;
    color: #333;
    border: 1px solid #aaa;
        /* outline: 1px solid #f00; */
}