
.container-reg-login{
    margin-top: 50px;
}
.container-reg-login h2{
    color: #62574e;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
}
form.userInfo{
    width: 520px;
    padding: 26px 70px 50px;
    margin: 0px auto 40px;
    border: 3px solid #f9bd97;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*------ 預設 只顯示登入 */
.register{
    display: none;
}
/* 預設 只顯示登入------ */

.reg-login-btns{
    width: 520px;
    margin: 16px auto 0;
    text-align: center;
    color: #444;
    font-size: var(--link-button-font-size);
    display: flex;
    justify-content: center;
}
.reg-login-btns .btn-login,
.reg-login-btns .btn-reg{
    display: inline-block;
    width: 50%;
    padding: 8px;
    margin: 30 auto 2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #63554b;
    background-color: rgb(247, 220, 205);
    cursor: pointer;
}
.reg-login-btns .btn-login{
    margin-right: 3px;
}
.reg-login-btns .active-btn{
    background-color: #f9bd97;
}
.reg-login-btns .btn-login:not(.active-btn):hover,
.reg-login-btns .btn-reg:not(.active-btn):hover{
    background-color: #f8d5c0;
}

form.userInfo li{
    margin-top: 14px;
    color: #555;
    font-size: 0;
}
form.userInfo li label{
    display: block;
    width: 100%;
    font-size: 16px;
    margin-left: 4px;
}
form.userInfo li input {
    width: 100%;
    height: 40px;
    padding: 8px 10px;
    margin-top: 3px;
    font-size: 16px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    color: #333;
}
form.userInfo .zipcode{
    width: 32%;
    margin-right: 2%;
}
form.userInfo .city{
    margin-right: 2%;
}
form.userInfo .city,
form.userInfo .dist{
    width: 32%;
    height: 40px;
    font-size: 16px;
    padding: 8px 10px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    color: #333;
}
form.userInfo .addr{
    margin-top: 8px;
}
form.userInfo li *:focus{
    outline: 1px solid #6873ed;
}
form.userInfo input.btn{
    margin-top: 24px;
    width: 100%;
    border: none;
    color: #fff;
    padding: 8px 0;
    font-size: 18px;
}
form.userInfo input.btn:hover{
    background-color: #e96c4a;
}

form.userInfo .bankCode{
	width: 30%;
	margin-right: 2%;
}
form.userInfo .bankAcc{
	width: 68%;
	
}


a.forget-pwd-btn{
	margin-top: 12px;
	margin-left: 4px;
}
a.forget-pwd-btn:hover{
	color: #744;
	text-decoration: underline;
}


.error,
.error-reg,
.error-zipcode,
.error-city,
.error-dist,
.error-addr,
.js-error-zipcode,
.error-bankCode,
.error-bankAcc{
	display: block;
	color: #f00;
	font-size: 16px;
}
.error:before,
.error-reg:before,
.error-zipcode:before,
.error-city:before,
.error-dist:before,
.error-addr:before,
.error-bankCode:before,
.error-bankAcc:before{
	display: inline-block;
	content: '*';
}

.error-login,
.error-forget{
	margin-top: 6px;
}


