/* @font-face {
    font-family: 'jf-openhuninn-2.1';
    src: url('https://example.com/fonts/jf-openhuninn-2.1.ttf') format('truetype');
} */
:root {
    --main-color: rgb(85, 57, 16);
    --second-color: rgb(17, 113, 25);
    --bg-color: #faf9f2;
    --header-color: #fae2cd;

    --btn-color: #4e9173;
    --btn-hover-color: #f98227;

    --title-font-size: 36px;
    --subtitle-font-size: 26px;
    --link-button-font-size: 20px;
    --content-font-size: 18px;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Tahoma';
    list-style: none;
    /* outline: 1px solid #f00; */
    box-sizing: border-box;
}
html{
    height: 100%; /*for footer貼到底端*/
}
body{
    position: relative;
    background-color: var(--bg-color);
    
    /*for footer貼到底端*/
   
    min-height: 100%;
	display: flex;
	flex-direction: column;
}
.container:not(.container-header):not(.container-footer){
	flex: 1; /*for footer貼到底端*/
}
.container{
    width: 100%;
    margin: 0 auto;
    
    min-width: 1200px;
/* 	outline:1px solid #f00; */

}
.container:not(.container-banner):not(.container-register){
    padding-left: 10%;
    padding-right: 10%;
}





/* -------通用CSS*/
    a{
        display: block;
        text-decoration: none;
    }
    a.link,
    input.link{
        display: block;
        text-decoration: none;
        padding: 8px 14px;
        margin-right: 14px;
    }

    a.link:last-child{
        margin-right: 0;
    }

    img{
        max-width: 100%;
        max-height: 100%;
/*         border-radius: 5px; */
    }
    
    .btn{
        border-radius: 5px;
        background-color: var(--btn-color);
    }
    .btn:hover{
        background-color: var(--btn-hover-color);
        transition: 0.8s;
        cursor: pointer;
    }

    .title{
        width: 100%;
        text-align: center;
        font-size: var(--title-font-size);
        font-weight: bold;
        color: #555;
        letter-spacing: 2px;
    }
/* 通用CSS-----------*/


/* header */
.container-header{
    background-color: var(--header-color);
    padding-top: 2px;
    padding-bottom: 4px;
    position: sticky; /* 導覽列置頂 */
    top: 0;
    z-index: 10;
}

.container-header .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--link-button-font-size);
}
.container-header .header a{
    color: #fff;
}
.container-header .logo img{
    max-height: 68px;
}
.container-header .logo img:hover{
    transform: scale(1.1);
    transition: .8s;
}

/* nav */
.container-header .header .nav{
    display: flex;
}
.container-header .nav li{
    position: relative;
}
.container-header .nav li > a{
	padding: 6px 10px;
}
.container-header .nav ul{
    display: none;
    position: absolute;
    top: 100%;
    width: 190px;
    border: 1px solid #68a087;
    border-radius: 8px;
    background-color: rgba(255,255,255, .8);
}
.container-header .nav ul a{
    padding: 8px 10px;
    border-top: 1px solid #88b3a0;
    font-size: 18px;
    color: var(--second-color);
}
.container-header .nav ul a:hover{
    background-color: #d7d7cdb7;
}
.container-header .nav li:hover > ul{
    display: block;
}



.container-header .header .member{
    display: flex;
}
.container-header .member a,
.container-header .member .btn-logout{
    width: 52px;
    height: 52px;
    margin-right: 8px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: var(--btn-color);
    background-color: #fff;
    border: 3px solid var(--btn-color);
}
.container-header .member .btn-logout{
	display: inline-block;
	font-size: 18px;
}

.container-header .member a:hover,
.container-header .member .btn-logout:hover{
	cursor: pointer;
    color: var(--btn-hover-color);
    border: 3px solid var(--btn-hover-color);
    background-color: #fff;
}
.container-header .member .helloUser{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 8px;
	font-size: 15px;
	line-height: 1.3;
	text-align: center;
	color: #555;
}
.container-header .helloUser .point{
	padding: 6px;
	border-radius: 16px;
	background-color: #ffffff90;
	margin-top: 3px;
	font-size: 16px;
}
.container-header .helloUser .fa-coins{
	color: #ffb030;
	padding-right: 1px;
}


/* footer */
.container-footer {
    margin-top: 80px;
    background-color: var(--header-color);
    position: relative;
    bottom: 0;
}
.container-footer .footer{
    padding: 24px 0 32px;
    color: #555;
    font-size: 14px;
}
/* *{outline: 1px solid #f00;} */
.container-footer .footer .quick-link{
    display: flex;
    justify-content: center;
}
.container-footer .footer .quick-link a{
    padding: 0 20px;
    color: #555;
    border-right: 1px solid #aaa;
}
.container-footer .footer .quick-link a:last-of-type{
    border-right: none;
}
.container-footer .footer .quick-link a:hover{
    color: #333;
    text-decoration: underline;
}
.container-footer .footer .info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.container-footer .footer .info > *{
    display: flex;
    justify-content: center;
    padding: 0 16px;
}
.container-footer .footer .info .copyright{
    color: #be592e;
}



/*  sweetalert2 */
.custom-icon{
	margin: 0 auto;
}
.custom-swal {
	width: 500px !important;
	font-size: 18px;
	padding: 50px;
	border-radius: 12px;
	background-color: #fefcfc;
}
.custom-swal-title {
  	color: #2c3e50;
  	font-weight: bold;
  	padding-top: 22px;
}
.custom-swal-content {
  	text-align: center;
	padding: 0px;
  	padding-top: 10px;
}

.custom-swal-confirm {
	margin: 0 5px;
  	padding: 10px 20px;
  	color: white;
  	background-color: #4CAF50;
}
.custom-swal-cancel {
  	margin: 0 5px;
  	color: black;
	background-color: #ddd;
}

.custom-swal-confirm:hover{
  	background-color: var(--btn-hover-color);	
}
.custom-swal-cancel:hover{

  	background-color: #bbb;	
}

