<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>home-fmem</title>

<th:block th:replace="~{/front_end/index :: mainCss}"></th:block>

<style>
	
	.container-header,
	.container-footer{
		background-color: #dce2ef;	
	}
	.nav > li > a{
		background-color: #4F9D9D;
	}
</style>


</head>
<body>

<!-- 引用header: 複製下面這行 -->
<!-- 	<div th:replace="~{/front_end/home :: header}"></div> -->

    <div class="container container-header" th:fragment="header">
        <div class="header">
            <div class="logo">
                <a th:href="@{/}" class="link">
                    <img th:src="@{/images/logo-t.png}" alt="">
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="#" class="link btn">廣告</a>
                    <ul>
                    	<li><a th:href="@{/fmem/proAd/applyAdView}">申請廣告</a></li>
  						<li><a th:href="@{/fmem/proAd/list}">查看廣告</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="link btn">商城</a>
                    <ul>
                        <li><a href="#">上架商品</a></li>
                        <li><a href="#">商品管理</a></li>
  						<li><a href="#">商城商店佈置</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="link btn">活動</a>
                    <ul>
                        <li><a href="#">上架活動</a></li>
                        <li><a href="#">上架場次</a></li>
                        <li><a href="#">活動管理</a></li>
                        <li><a href="#">場次管理</a></li>
  						<li><a href="#">活動商店佈置</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="link btn">會員中心</a>
                    <ul>
                        <li><a href="#">修改會員資料</a></li>
                        <li><a href="#">修改會員密碼</a></li>
                    </ul>
                </li>
            </ul>
            <div class="member">
                <a th:if="${session.loggedInFmember} == null" th:href="@{/fmem/showFmemRegLoginForm}" class="member-logo link btn"><i class="fa-solid fa-user-tie"></i></a>
                <a th:if="${session.loggedInFmember} == null" th:href="@{/mem/showMemRegLoginForm}" class="member-logo link btn"><i class="fa-solid fa-user"></i></a>
                <div class="helloUser" th:if="${session.loggedInFmember} != null">
                	<div th:text="${session.fmemName} + '，'"></div>
                	<div>您好</div>
                </div>
                <a th:if="${session.loggedInFmember} == null" href="#" class="member-logo link btn"><i class="fa-solid fa-cart-shopping"></i></a>
            	
            	<form th:action="@{/fmem/logout}" th:if="${session.loggedInFmember} != null" method="post" class="logout">
            		<button type="submit" class="btn-logout"><i class="fa-solid fa-arrow-right-to-bracket"></i></button>
            	</form>
            </div>
        </div>
    </div>

	<div class="container">
		text contet
	</div>
	<div th:replace="~{/front_end/index :: footer}"></div>

</body>
</html>