<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>home-fmem</title>
	<link rel="icon" th:href="@{/images/logo.png}">
	
	<th:block th:replace="~{/front_end/index :: mainCss}"></th:block>
	
	<th:block th:fragment="homeCss">
	    <link rel="stylesheet" th:href="@{/css/fmem/home.css}">
    </th:block>


	<link rel="stylesheet" th:href="@{/css/mem/farmerStore1ColorNature.css}">
	
	<!--     <link rel="stylesheet" th:if="${session.sty}" th:href="@{${session.sty.styCssPath}}"> -->
	    
	<!-- <link rel="stylesheet" th:href="@{/css/mem/memArea.css}"> -->

<style>
	
	
	.container-content{
		font-size:80px;
	}
</style>


</head>
<body>

<!-- 引用header: 複製下面這行 -->
<!-- 	<div th:replace="~{/front_end/home :: header}"></div> -->

    <div class="container container-header" th:fragment="header">
        <div class="header">
            <div class="logo">
                <a th:href="@{/fmem/home}" class="link">
                    <img th:src="@{/images/logo-t.png}" alt="">
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a th:href="@{/fmem/proAd}" class="link btn">廣告</a>
                    <ul>
                    	<li><a th:href="@{/fmem/proAd/applyAdView}">申請廣告</a></li>
  						<li><a th:href="@{/fmem/proAd/list}">查看廣告</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="link btn">商城</a>
                    <ul>
                        <li><a href="#">上架商品</a></li>
                        <li><a th:href="@{/pro/fmem/myPro}">商品管理</a></li>
  						<li><a href="#">商城商店佈置</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="link btn">活動</a>
                    <ul>
                        <li><a href="#">上架活動</a></li>
                        <li><a href="#">上架場次</a></li>
                        <li><a href="#">活動管理</a></li>
                        <li><a href="#">場次管理</a></li>
  						<li><a href="#">活動商店佈置</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="link btn">訂單</a>
                    <ul>
                        <li><a th:href="@{/fmem/reg/list}">查看活動訂單</a></li>
                        <li><a th:href="@{/fmem/proorders/listAllProOrder}">查看客戶商品訂單</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/fmem/fmemArea}" class="link btn">會員中心</a>
                    <ul th:fragment="fmemAreaLink">
                        <li><a th:href="@{/fmem/fmemArea/updateProfilePage}">管理個人資料</a></li>
                        <li><a th:href="@{/fmem/fmemArea/updatePasswordPage}">修改密碼</a></li>
                        <li><a th:href="@{/fmem/fmemArea/updateStorePage}">管理商店資料</a></li>
                    </ul>
                </li>
            </ul>
            <div class="member">
                <a th:if="${session.loggedInFmember} == null" th:href="@{/fmem/showFmemRegLoginForm}" class="member-logo link btn"><i class="fa-solid fa-user-tie"></i></a>
                <a th:if="${session.loggedInFmember} == null" th:href="@{/mem/showMemRegLoginForm}" class="member-logo link btn"><i class="fa-solid fa-user"></i></a>
                <div class="helloUser" th:if="${session.loggedInFmember} != null">
                	<div th:text="${session.loggedInFmember.fmemName} + '，'"></div>
                	<div>您好</div>
                </div>
                <a th:if="${session.loggedInFmember} == null" href="#" class="member-logo link btn"><i class="fa-solid fa-cart-shopping"></i></a>

            	<form th:action="@{/fmem/logout}" th:if="${session.loggedInFmember} != null" method="post" class="logout">
            		<button type="submit" class="btn-logout"><i class="fa-solid fa-arrow-right-to-bracket"></i></button>
            	</form>
            </div>
        </div>
    </div>

<!-- --------------------------------------------------------------------- -->
    
   <div th:replace="~{/front_end/farmer/logined/home :: fbanner}"></div>

    <div class="container container-main">
    
    
        <div th:replace="~{/front_end/farmer/logined/home :: sidebar}"></div>
            

        <div class="store-content">
<!--             <h3>商品</h3> -->
            <ul class="activities">
            	<p th:if="${actList == null or #lists.isEmpty(actList)}" th:text="目前尚無上架活動" class="no-item-msg"></p>
                <li class="activity" th:each="act : ${actList}">
                    <div class="pic">
                    	<a href="#">
                    		<div class="mask"></div>
                    		<div class="tag">熱門</div>
<!--                     		<img th:src="'data:image/jpeg;base64, ' + ${act.actMainImgBase64}" alt=""> -->
                    	</a>
                   	</div>
	                <div class="text">
                    	<a href="#">
<!--                     		<div class="mask"></div> -->
	                        <div th:text="${act.actName}" class="name"></div>
	                        <div th:text="${act.actDes}" class="intro"></div>
	                        <div class="price">
	                            <span class="prefix">$</span>
	                            <span th:text="${act.actFee}" class="number"></span>
	                        </div>

	                	</a>
                        <div class="date">
<!--                         	<span>活動期間：</span> -->
                        	<span th:text="${act.actStart}"></span>
                        	<span>~</span>
                        	<span th:text="${act.actEnd}"></span>
<!--                         	<span>10/10、10/25、12/25</span> -->
                        </div>
						<button class="addToCart">立馬報名去</button>	                    
	                </div>
                </li>
                 
            </ul>
        </div>
        
    </div>
   

    
<!-- --------------------------------------------------------------------- -->
  
	
	
	
	
	
	
	<div th:replace="~{/front_end/index :: footer}"></div>

</body>
</html>