<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>小農預覽個人首頁</title>
	<link rel="icon" th:href="@{/images/logo.png}">
	
	<th:block th:replace="~{/front_end/index :: mainCss}"></th:block>
	<th:block th:replace="~{/front_end/farmer/logined/home :: homeCss}"></th:block>
	
	<link rel="stylesheet" th:if="${session.loggedInFmember.sty}" th:href="@{${session.loggedInFmember.sty.styCssPath}}">

	<style>
		.container-not-open{
			font-size: 28px;
			color: #443;
			text-align: center;
			margin-top: 50px;
		}
	</style>

</head>
<body>
   	<div th:replace="~{/front_end/farmer/logined/home :: header}"></div>

<!-- --------------------------------------------------------------------- -->
    
    <div class="container container-not-open">
        商店尚未啟用，請至 "會員中心/管理商店資料" 完成開店流程。
    </div>
    
<!-- --------------------------------------------------------------------- -->
  
	<div th:replace="~{/front_end/index :: footer}"></div>
</body>
</html>