<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>小農申請活動廣告</title>
<th:block th:replace="~{/front_end/index :: mainCss}"></th:block>
<th:block th:replace="~{/front_end/farmer/logined/home :: homeCss}"></th:block>
<link rel="stylesheet" th:href="@{/css/mem/memArea.css}">
<link rel="stylesheet" th:href="@{/css/ad/fmemAd-sidebar.css}">
<link rel="stylesheet" th:href="@{/css/ad/fmemApplyAd.css}">

</head>
<body>
	<div th:replace="~{/front_end/farmer/logined/home :: header}"></div>

	<div class="field">

		<div class="left-area">
			<div class="left-title">廣告功能</div>
			<ul class="left-list">
				<li><a th:href="@{/fmem/actAd/list}">查看廣告列表</a></li>
				<li><a th:href="@{/fmem/actAd/applyAdView}">申請廣告</a></li>
			</ul>
		</div>




		<div class="main-area">
			<img class="littlefarmer"
				th:src="@{/images/ad/applyAd-littleFarmer.gif}" alt="littlefarmer">
			<form th:action="@{applyActAd}" method="post" th:object="${actAdVO}"
				enctype="multipart/form-data">
				<input type="hidden" th:field="*{fmem.fmemId}"
					th:value="${session.fmemId}" />
				<div class="main-field">

					<!-- 圖片區 -->
					<div class="box">
						<div class="add">+</div>
						<input type="file" name="adImg" id="theFile" accept="image/*">
					</div>

					<!-- 輸入區 -->
					<div class="input-right">
						<div class="input-content">
							<h1 class="main-title">小農申請廣告</h1>


							<table class="textContent">

								<tr class="textNo">
									<td>廣告類型：</td>
									<td><select class="textNo" id="adType">
											<option th:value="@{/fmem/proAd/applyAdView}"
												th:selected="${selectedType} == 'proAd'">商品廣告</option>
											<option th:value="@{/fmem/actAd/applyAdView}"
												th:selected="${selectedType} == 'actAd'">活動廣告</option>
									</select></td>
								</tr>

								<tr class="textNo">
									<td>活動編號：</td>
									<td><select class="textNo" th:field="*{actId}">
											<option value="" disabled selected>請選擇活動</option>
											<option th:each="a : ${act}" th:value="${a.actId}"
												th:text="|${a.actId} - ${a.actName}|"></option>
									</select></td>
								</tr>


								<tr>
									<td>開始日期：</td>
									<td><input class="textNo" type="date"
										th:field="*{actAdStart}"
										th:attr="min=${#temporals.format(#temporals.createNow().plusDays(7), 'yyyy-MM-dd')}"
										required /></td>
								</tr>


								<tr>
									<td>播放時間：</td>
									<td><select class="textNo" id="duration">
											<option value="0">一個月</option>
											<option value="1">兩個月</option>
											<option value="2">三個月</option>
									</select></td>
								</tr>


								<tr>
									<td>廣告費用：</td>
									<td><input class="textNo" type="text" id="adFeeShow"
										readonly> <input type="hidden" id="adFee"
										th:field="*{actAdFee}"></td>
								</tr>


								<tr>
									<td>結束日期：</td>
									<td><input class="textNo" type="date"
										th:field="*{actAdEnd}" readonly></td>
								</tr>
							</table>

							<!-- 規則閱讀與勾選 -->
							<div style="margin-left: 5%; margin-top: 10px">
								<label style="display: flex; align-items: center; gap: 8px;">
									<input type="checkbox" id="checkbox" disabled> <span>我已閱讀並同意
										<span id="openRule"
										style="color: blue; text-decoration: underline; cursor: pointer;">
											《廣告刊登規則》 </span>
								</span>
								</label>

								<div th:if="${#fields.hasAnyErrors()}">
									<ul
										style="margin-top: 0; margin-left: 0; color: red; text-align: center;">
										<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>

							<input id="submit-btn" type="submit" value="提交申請"
								class="submit-btn" disabled>
						</div>
					</div>

				</div>
				<!-- /main-field -->
			</form>
		</div>
		<!-- /main-area -->

	</div>


	<!-- 規則框：預設隱藏 -->
	<div id="rulebody" class="rulebody">
		<div id="ruleContent">載入中…</div>
		<div style="text-align: center;">
			<a href="#" id="closeRule">閱讀完畢，關閉此視窗</a>
		</div>
	</div>



	<div th:replace="~{/front_end/index :: footer}"></div>

<script th:src="@{/js/ad/fmemApplyAd.js}"></script>
</body>
</html>