<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>活動廣告列表</title>
<th:block th:replace="~{/front_end/index :: mainCss}"></th:block>
<th:block th:replace="~{/front_end/farmer/logined/home :: homeCss}"></th:block>
<link rel="stylesheet" th:href="@{/css/mem/memArea.css}">
<link rel="stylesheet" th:href="@{/css/ad/fmemAd-sidebar.css}">
<link rel="stylesheet" th:href="@{/css/ad/fmemList.css}">


<style>
th {
	background-color: #FF5809;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.5px;
	padding: 8px 10px;
}

tr:nth-child(even) {
	background-color: #FFE6D9;
}

tr:hover {
	background-color: #C6F6D5;
}

.act-name{
max-width:160px;
}

</style>

</head>
<body th:data-success="${success}"> 
	<div th:replace="~{/front_end/farmer/logined/home :: header}"></div>
	<div class="field">

		<div class="left-area">
			<h3 class="left-title">廣告功能</h3>
			<ul class="left-list">
				<li><a th:href="@{/fmem/actAd/applyAdView}">申請廣告</a></li>
				<li><a th:href="@{/fmem/actAd/list}">查看廣告</a></li>
			</ul>
		</div>

		<div class="main-area">
			<h1 class="title">小農查詢廣告申請列表</h1>
			<div>
				<label for="adType" class="functions">選擇廣告類型：</label> <select
					id="adType" class="function-btn">
					<option th:value="@{/fmem/proAd/list}"
						th:selected="${selectedType} == 'proAd'">商品廣告</option>
					<option th:value="@{/fmem/actAd/list}"
						th:selected="${selectedType} == 'actAd'">活動廣告</option>
				</select>
			</div>



			<table>
				<tr>
					<th>活動<br>廣告編號
					</th>
					<th>活動名稱</th>
					<th>活動廣告圖片</th>
					<th>審核狀態</th>
					<th>開始日期</th>
					<th>結束日期</th>
					<th>費用</th>
					<th>繳費截止日</th>
					<th>前往繳費</th>
				</tr>

				<th:block th:each="actAdVO : ${listActAd}">
					<tr>
						<td th:text="${actAdVO.actAdId}"></td>
						<td class=act-name th:text="${actAdVO.act.actName}"></td>
						<td><img class="adImg"
							th:src="@{/actAd/img/{id}(id=${actAdVO.actAdId})}" alt="actAdImg"
							width="100" /></td>

						<td th:switch="${actAdVO.actAdRevStat}"><span th:case="0">編輯中</span>
							<span th:case="1">待審核</span> <span th:case="2">通過</span> <span
							th:case="3">未通過</span> <span th:case="4">待繳費</span> <span
							th:case="5">已繳費</span>
							<div>
								<button type="button" class="detailBtn"
									th:attr="
					      data-revupd=${actAdVO.actAdRevUpd != null ? #dates.format(actAdVO.actAdRevUpd,'yyyy-MM-dd HH:mm:ss') : '-'},
					      data-remark=${actAdVO.actAdRevRemark != null ? actAdVO.actAdRevRemark : '-'},
					      data-launstat=${actAdVO.actAdLaunStat == 0 ? '下架中' : '上架中'},
					      data-launupd=${actAdVO.actAdLaunUpd != null ? #dates.format(actAdVO.actAdLaunUpd,'yyyy-MM-dd HH:mm:ss') : '-'}
					    ">
									查看詳細</button>
							</div></td>

						<td><span th:if="${actAdVO.actAdStart != null}"
							th:text="${actAdVO.actAdStart}"></span> <span
							th:unless="${actAdVO.actAdStart != null}">-</span></td>

						<td><span th:if="${actAdVO.actAdEnd != null}"
							th:text="${actAdVO.actAdEnd}"></span> <span
							th:unless="${actAdVO.actAdEnd != null}">-</span></td>

						<td><span th:if="${actAdVO.actAdFee != null}"
							th:text="|$ ${#numbers.formatInteger(actAdVO.actAdFee, 0, 'COMMA')}|"></span>
							<span th:unless="${actAdVO.actAdFee != null}">-</span></td>

						<td><span th:if="${actAdVO.actAdFeeEnd != null}"
							th:text="${actAdVO.actAdFeeEnd}"></span> <span
							th:unless="${actAdVO.actAdFeeEnd != null}">-</span></td>

						<td>
							<form th:if="${actAdVO.actAdRevStat == 4}"
								th:action="@{/fmem/actAd/pay}" method="get">
								<input type="hidden" name="actAdId"
									th:value="${actAdVO.actAdId}">
								<button type="submit" class="function-btn">前往繳費</button>
							</form>
						</td>

					</tr>
				</th:block>
			</table>

		</div>
	</div>
	<div th:replace="~{/front_end/index :: footer}"></div>

	<!-- 圖片放大區 -->
	<div id="outSide" class="outSide">
		<b><span id="closeButton" class="closeButton">X</span></b>
		<div id="inSide" class="inSide">
			<img id="zoomImg" class="zoomImg" alt="預覽">
		</div>
	</div>


	<!-- 彈窗區 -->
	<div id="advPopup" style="display: none;">
		<div class="advBox">
			<span id="closeAdv" class="closeBtn">×</span>
			<h2>審核詳細資訊</h2>
			<div>
				<b>審核更新時間：</b><span id="revUpd"></span>
			</div>
			<div>
				<b>審核備註：</b><span id="revRemark"></span>
			</div>
			<div>
				<b>上下架狀態：</b><span id="launStat"></span>
			</div>
			<div>
				<b>上下架更新時間：</b><span id="launUpd"></span>
			</div>
		</div>
	</div>

	<script th:src="@{/js/ad/fmemList.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>