<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商品評論</title>
</head>
<body>
	<h1>這是一個新增商品評論的網頁</h1>
		
			<div th:if="${successMessage}" class="success-message">
				<p th:text="${successMessage}"></p>
			</div>
			<div th:if="${errorMessage}" class="error-message">
				<p th:text="${errorMessage}"></p>
			</div>
		
		
		
		<form th:action="@{insert}" method="post" th:object="${proComVO}">
			
			<input type="hidden" name="proOrdId" th:value="${proOrdId}"/>
			
			<div>
			<label>評論時間:</label>
			<input type="text" th:field="*{proComTime}" onclick="hideContent('proComTime.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('proComTime')}" th:errors="*{proComTime}" class="error" id="proComTime.errors"></span>
			</div>
			
			<div>
			<label>商品編號:</label>
 			<select th:field="*{proVO.proId}">
				<option th:each="itemVO : ${proOrdItemList}" th:value="${itemVO.productVO.proId}" th:text="${itemVO.productVO.proName}" />
			</select>
       <!-- <span th:if="${#fields.hasErrors('deptVO.deptno')}" th:errors="*{deptVO.deptno}" class="error" id="deptVO.deptno.errors"></span> -->
			</div>
		
			<div>
			<label>商品評分:</label>
			
			 <select th:field="*{proComRate}">
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
			<span  th:if="${#fields.hasErrors('proComRate')}" th:errors="*{proComRate}" class="proComRate" id="proComRate.errors"></span>
			</div>
			
			<div>
			<label>評論內容:</label>
			<textarea th:field="*{proComContent}"/><br/>
			<span  th:if="${#fields.hasErrors('proComContent')}" th:errors="*{proComContent}" class="error" id="proComContent.errors"></span>
			</div>
			

			

			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出新增 </button></div>
				<div></div>
			</div>		
		</form>
	
</body>
</html>